{% extends 'project/base.html' %} <!-- use the base file -->
{% load static %}
{% block content %} <!-- content of all web pages go -->

{% if form.errors %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        There was an error with your form...
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endif %}

<div class="container shadow-lg p-4 mb-5 bg-body rounded" style="max-width: 800px; margin: auto;">
        <h1 class="text-center mb-4"> Register as Faculty </h1> 
    
        <br/>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    
    <form action="{% url 'register_faculty' %}" method="POST">
        {% csrf_token %}

        {% for field in form %}
            <div class="mb-3">
                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    {{ field }}
                {% if field.errors %}
                    <div class="form-error text-danger">
                        {{ field.errors|striptags }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}

        <div class="d-grid gap-2">
            <input type="submit" value="Submit" class="btn btn-secondary">
        </div>
    </form>
</div>

<script src="{% static 'js/custom.js' %}"></script>
{% endblock %}