{% extends 'project/base.html'%} <!-- use the base file -->

{% load static %}
<link rel="stylesheet" href="{% static 'css/custom.css' %}">

{% block content %} <!-- content of all web pages go -->

</br> 
  
    {% if user.is_authenticated %}
        <center> 
            <h1> Submit A Project Proposal </h1> 
            <br/> <br/> 
        </center>  
    
        {% if submitted %}
            Your Proposal Was Submitted Successfully!
        {% else %}
        
                <form method="post" id="projectForm">
                    {% csrf_token %}
                    
                    {{ form.as_p }} <!-- Render form fields and errors as paragraphs -->
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

        {% endif %}
    {% else %}
        <h1> Sorry. Please Login to view this Page. </h1> 

        <a href="{% url 'login' %}">Login Here! </a> 
    {% endif %}
    <script>
        document.getElementById('projectForm').onsubmit = function() {
            // Enable the proponents and adviser fields before submitting the form
            document.querySelector('select[name="proponents"]').removeAttribute('disabled');
            document.querySelector('select[name="adviser"]').removeAttribute('disabled');
        };
    </script>
{% endblock %}