{% extends 'project/base.html'%} <!-- use the base file -->

{% block content %} <!-- content of all web pages go -->
 
<table class ="table table-striped table-hover table-bordered table"> 
    <thead> 
      <tr> 
          <th scope="col"> Project Name  </th> 
          <th scope="col"> Adviser </th> 
      </tr> 
  </thead>  
  <tbody>

<h1> My Advisory Projects  </h1> 
</br> 

    {% for project in projects %}

        {% if project.approved %}
        
            <ul> 
                <tr> 
                     <td>
                        <a href="{% url 'show-project' project.id %}">{{ project }} </a> <br/> 
                     </td> 
                     <td>
                        {{ project.adviser }}
                     </td> 
                </tr> 

        {% endif %}
    {% endfor %}  
</table> 


</br> <br> <hr/> </br> </br> 
<h1> My Received Proposals </h1> 

<table class ="table table-striped table-hover table-bordered table"> 
        <thead> 
          <tr> 
              <th scope="col"> Project Name  </th> 
              <th scope="col"> Adviser </th> 
          </tr> 
      </thead>  
      <tbody>
        <ul> 
        {% for project in projects %}
                {% if not project.approved %}

                   <tr> 
                        <td>
                           <a href="{% url 'show-proposal' project.id %}">{{ project }} </a> <br/> 
                        </td> 
                        <td>
                           {{ project.adviser }}
                        </td> 
                   </tr> 
                {% endif %}
        {% endfor %}  
</table> </br> </br>  <hr/> </br> </br> 

<h1> My Project Groups </h1> 
</br> </br> 

<div class="row"> 
    {% for group in project_groups %}
        {% if request.user == group.adviser %}        
                    <div class="col-sm-4 mb-4">
                    <div class="card">
                        <div class="card-header">
                            Name: {{ group.group_name }} 
                        </div>
                        <div class="card-body">
                        <h5 class="card-title"> Adviser: {{ group.adviser}} </h5>
                        <p class="card-text"> 
                            <ul>
                            <li> Proponents: <br/> 
                            {% for student in group.proponents.all%}
                                {{ student }} </br>
                              {% endfor %}
                            </li> 
                            </ul> 
                        
                        </p>
                        </div>
                        {% if user.is_authenticated %}
                        {% if user == group.adviser %}
                            <div class="card-footer text-body-secondary">
                                {% if not group.approved %}  
                                <a href="{% url 'approve-project-group' group.id %}"
                                    class="btn btn-outline-success btn-sm"> Accept Group </a>  
                
                                    <a href="{% url 'delete-project-group' group.id %}"
                                    class="btn btn-outline-danger btn-sm"> Delete Group </a>  
                
                                {% else %}
                                <a href="{% url 'reject-project-group' group.id %}"
                                    class="btn btn-outline-danger btn-sm"> Reject Group </a> 
                                {% endif %}
                                    
                        
                            </div> 
                        {% endif %} 
                        {% endif %}
                        </div>
                    </div>
            {% endif %}
    {% endfor %}
  </div>
     
  

{% endblock %}

