{% extends 'project/base.html' %}
{% load static %}

{% block content %}
<h1> Settings </h1>


<div class="col-md-4">
    <div class="card mb-4">
        <div class="card-header">
            <h2>Project Defenses </h2>
        </div>
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="{% url 'defense-settings' %}">
                        <i class="fas fa-cog"></i> Change number of defenses 
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}