{% extends 'project/base.html'%} <!-- use the base file -->

{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/custom.js' %}"></script>

    <title>Coordinator Dashboard</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light shadow-sm">
        
    </nav>

    <div class="container mt-4">
        <h1 class="text-center">Coordinator Dashboard</h1>
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-header">
                        <h2>Pending Approvals</h2>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <a href="{% url 'coordinator-approval-student' %}">
                                    <i class="fas fa-user-check"></i> Student Approvals
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a href="{% url 'coordinator-approval-faculty' %}">
                                    <i class="fas fa-user-tie"></i> Faculty Approvals
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-header">
                        <h2>Project Overview</h2>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <a href="{% url 'coordinator-projects' %}">
                                    <i class="fas fa-project-diagram"></i> View Projects
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a href="{% url 'list-defense-applications' %}">
                                    <i class="fas fa-file-invoice"></i> Defense Applications
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-header">
                        <h2>Settings</h2>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <a href="{% url 'coordinator-settings' %}">
                                    <i class="fas fa-cog"></i> Settings
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}