{% extends 'project/base.html' %} <!-- use the base file -->

{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %} <!-- content of all web pages go -->

    {% if user.is_authenticated %}
        <center> <h1 style="display: inline-block;"> Create Custom Project Phase </h1> 
            <div class="button-container" style="float: right;">
                <a href="javascript:history.back()" class="btn btn-outline-danger btn-sm" 
                style="float: right;"> Cancel </a> 
            </div> 
        </center> 
        <br/>

        {% if submitted %}
            <div class="alert alert-success text-center" role="alert">
                <h3> Your Custom Phase Was Created Successfully!</h3>
            </div>
        {% else %}
        
            {% if form.errors %}
                <div class="alert alert-danger">
                    <ul>
                        {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <li> Please Fix Errors in {{ field.label }} Field </li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        
            <form method="post" id="customPhaseForm">
                {% csrf_token %}
                
                {{ form.as_p }} <!-- Render form fields and errors as paragraphs -->
                <button type="submit" class="btn btn-primary">Create Phase</button>
            </form>

        {% endif %}
    {% else %}
        <h1> Sorry. Please Login to view this Page. </h1> 

        <a href="{% url 'login' %}">Login Here! </a> 
    {% endif %}
    
    <script>
        document.getElementById('customPhaseForm').onsubmit = function() {
            // Enable the project field before submitting the form
            document.querySelector('select[name="project"]').removeAttribute('disabled');
        };
    </script>
{% endblock %}