{% extends 'project/base.html'%} <!-- use the base file -->
{% load static %} 


{% block content %} <!-- content of all web pages go -->

<div class="table-container"> 
    <center> <h1 style="display: inline-block; margin-left: -30px"> Faculty List </h1> 
        <div class="button" style="float: left;">
            <a href="{% url 'list-student' %}" class="btn btn-primary">
                <i class="fas fa-users icon"> </i> View Student List
            </a> 
        </div> 
        <div class="button-container" style="float: right;">  <!-- Using gap to space out buttons -->
            <a href="javascript:history.back()" class="btn btn-outline-secondary btn-sm"> <i class="fas fa-arrow-left"></i> </a>
        </div>
    </center> 

        <!-- Filters persist across pagination (?filter=adviser&page=2) --> 
        <div class="btn-group" role="group" aria-label="Faculty Filter">
            {% comment %} <a href="?filter=all&page=1" class="btn btn-secondary {% if filter_type == 'all' %}active{% endif %}">All Faculty</a> {% endcomment %}
            <a href="?filter=adviser&page=1" class="btn btn-secondary {% if filter_type == 'adviser' %}active{% endif %}"> Advisers</a>
            <a href="?filter=panelist&page=1" class="btn btn-secondary {% if filter_type == 'panelist' %}active{% endif %}"> Panelists</a>
        </div>
        
        <div class="table-responsive"> <br/> 
            <table class="table table-hover table-bordered"> 
                <caption class="text-center">Faculty List</caption>
        
                <thead class="thead-dark"> 
                    <tr> 
                        <th scope="col"> # </th> 
                        <th scope="col" class="picture-column">Picture</th> 
                        <th scope="col"> Name  </th> 
                        <th scope="col"> Email </th> 
                        <th scope="col"> Field/Specialty </th> 
                        {% comment %} <th scope="col" class="deficiencies-column" >
                            Availability
                        </th>      {% endcomment %}
                        {% comment %} <th scope="col" style="width: 150px;"> Action </th>  {% endcomment %}
                    </tr> 
                </thead>  
                <tbody>
                    {% for faculty in facultys %}
                        {% if faculty.role == 'FACULTY' %}
                        <tr data-adviser="{{ faculty.adviser_eligible|yesno:'true,false' }}" 
                            data-panelist="{{ faculty.panel_eligible|yesno:'true,false' }}"
                            {% if faculty == user %}class="table-warning"{% endif %} 
                            onclick="location.href='{% url 'show-faculty' faculty.id %}'" 
                            style="cursor: pointer;">  
                                      
                                <td><strong>{{ forloop.counter|add:start_index }}</strong></td>
                                <td>
                                    {% if faculty.profile_image and faculty.profile_image.url != '/media/static/images/default_profile_pic.jpg' %}
                                        <figure><img src="{{ faculty.profile_image.url }}" alt="profile_pic" class="user-pic-table img-fluid width="250px" height="250px""></figure>
                                {% else %}
                                    {% comment %} no {% endcomment %}
                                        <figure><img src="{% static '/images/default_profile_pic.jpg' %}" class="img-fluid user-pic-table width="250px" height="250px""> </figure>
                                {% endif %}
                                </td>
                                <td>{{ faculty.first_name }} {{ faculty.last_name }}</td> <!-- Combined first and last name -->
                                <td>{{ faculty.email }}</td> 
                                {% comment %} <td class="deficiencies-cell">
                                    <div style="overflow-x: auto; white-space: nowrap;">
                                        {% if student.deficiencies %}
                                                {{ student.deficiencies }}
                                        {% else %}
                                            <span class="text-muted">No deficiencies</span>
                                        {% endif %}
                                    </div> 
                                </td> {% endcomment %}
                                {% comment %} <td>
                                    <a href="{% url 'show-faculty' faculty.id %}" class="btn btn-outline-primary btn-sm">View Profile</a>
                                </td> {% endcomment %}
                                <td> {{ faculty.skills }}</td> 
                            </tr> 
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table> 
        </div>
<hr/> 

<!-- 
{{ students }} </br> 
Has Previous: {{ students.has_previous }} <br/> 
Has Next: {{ students.has_next }} <br/> 
Current Page: {{ students.number }} <br/> 
Number of Pages: {{ students.paginator.num_pages }} <br/> 
<hr><br/><br/> -->

<!-- preserves selected filter -->
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">

        {% if facultys.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?filter={{ filter_type }}&page=1">&laquo; First</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?filter={{ filter_type }}&page={{ facultys.previous_page_number }}">Previous</a>
            </li>
        {% endif %}

        {% for i in nums %}
        <li class="page-item {% if forloop.counter == facultys.number %}disabled{% endif %}">
            <a class="page-link" href="?filter={{ filter_type }}&page={{ forloop.counter }}">{{ forloop.counter }}</a>
        </li>
        {% endfor %}

        {% if facultys.has_next %}
            <li class="page-item">
                <a class="page-link" href="?filter={{ filter_type }}&page={{ facultys.next_page_number }}">Next</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?filter={{ filter_type }}&page={{ facultys.paginator.num_pages }}">Last &raquo;</a>
            </li>
        {% endif %}
        
        <li class="page-item ml-auto disabled">
            <a href="#" class="page-link"> Page {{ facultys.number }} of {{ facultys.paginator.num_pages }} </a>
        </li>
    </ul>
</nav>

</div>

{% endblock %}