{% extends 'project/base.html'%} <!-- use the base file -->
{% load static %} 

{% block content %} <!-- content of all web pages go -->

<div class="table-container"> 
    <div class="header-container">
        <h1 class="page-title">FACULTY LIST</h1>

        <!-- Student Filter Buttons -->
        <div class="btn-group student-filter" role="group" aria-label="Student Filter">
            <a href="?filter=adviser&page=1" class="btn btn-secondary {% if filter_type == 'adviser' %}active{% endif %}"> Adviser</a>
            <a href="?filter=panelist&page=1" class="btn btn-secondary {% if filter_type == 'panelist' %}active{% endif %}"> Panelist</a>
        </div>

        <div class="header-buttons">
         
            <a href="{% url 'list-student' %}" class="btn faculty-btn">
                Student 
           </a> 

            <a href="javascript:history.back()" class="btn btn-outline-secondary btn-sm">
                <i class="fas fa-arrow-left"></i>
            </a>
        </div>
    </div> 
        <div class="table-responsive"> 
            <table class="table table-hover table-bordered student-table"> 
                <caption class="text-center">Faculty List</caption>
        
                <thead class="thead-dark"> 
                    <tr> 
                        <th scope="col"> # </th> 
                        <th scope="col" class="picture-column">Picture</th> 
                        <th scope="col"> Name  </th> 
                        <th scope="col"> Email </th> 
                        <th scope="col"> Field/Specialty </th> 
                        {% comment %} <th scope="col" class="deficiencies-column" >
                            Availability
                        </th>      {% endcomment %}
                        {% comment %} <th scope="col" style="width: 150px;"> Action </th>  {% endcomment %}
                    </tr> 
                </thead>  
                <tbody>
                    {% for faculty in facultys %}
                        {% if faculty.role == 'FACULTY' %}
                        <tr data-adviser="{{ faculty.adviser_eligible|yesno:'true,false' }}" 
                            data-panelist="{{ faculty.panel_eligible|yesno:'true,false' }}"
                            {% if faculty == user %}class="table-warning"{% endif %} 
                            onclick="location.href='{% url 'show-faculty' faculty.id %}'" 
                            style="cursor: pointer;">  
                                      
                                <td><strong>{{ forloop.counter|add:start_index }}</strong></td>
                                <td>
                                    {% if faculty.profile_image and faculty.profile_image.url != '/media/static/images/default_profile_pic.jpg' %}
                                        <figure>
                                            <img src="{{ faculty.profile_image.url }}" alt="profile_pic" class="user-pic-table img-fluid">
                                        </figure>
                                {% else %}
                                        <img src="{% static '/images/default_profile_pic.jpg' %}" class="img-fluid user-pic-table">
                                {% endif %}
                                </td>
                                <td>{{ faculty.first_name }} {{ faculty.last_name }}</td> <!-- Combined first and last name -->
                                <td>{{ faculty.email }}</td> 
                                <td> {{ faculty.skills }}</td> 
                            </tr> 
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table> 
        </div>
<hr/> 

<!-- 
{{ students }} </br> 
Has Previous: {{ students.has_previous }} <br/> 
Has Next: {{ students.has_next }} <br/> 
Current Page: {{ students.number }} <br/> 
Number of Pages: {{ students.paginator.num_pages }} <br/> 
<hr><br/><br/> -->

<!-- preserves selected filter -->
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">

        {% if facultys.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?filter={{ filter_type }}&page=1">&laquo; First</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?filter={{ filter_type }}&page={{ facultys.previous_page_number }}">Previous</a>
            </li>
        {% endif %}

        {% for i in nums %}
        <li class="page-item {% if forloop.counter == facultys.number %}disabled{% endif %}">
            <a class="page-link" href="?filter={{ filter_type }}&page={{ forloop.counter }}">{{ forloop.counter }}</a>
        </li>
        {% endfor %}

        {% if facultys.has_next %}
            <li class="page-item">
                <a class="page-link" href="?filter={{ filter_type }}&page={{ facultys.next_page_number }}">Next</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?filter={{ filter_type }}&page={{ facultys.paginator.num_pages }}">Last &raquo;</a>
            </li>
        {% endif %}
        
        <li class="page-item ml-auto disabled">
            <a href="#" class="page-link"> Page {{ facultys.number }} of {{ facultys.paginator.num_pages }} </a>
        </li>
    </ul>
</nav>

</div>

{% endblock %}