{% extends 'project/base.html' %}
{% load custom_filters %}
{% load static %}
{% block styles %}
  <head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
{% endblock %}

{% block content %}


<center>
    <h1> Report Generation and Projects Defense Progress </h1> 
</center> 

{% if not projects_with_phases %}
  <center> 
    <div class="alert alert-danger" role="alert">
      <h4> No projects Available at the moment. </h4> 
    </div> 
  </center> 

{% else %}
  
  {% if user.is_current_coordinator %}
    <div class="d-flex justify-content-end"> 
        <a href="{% url 'create-custom-phases' %}"
          class="btn btn-primary mb-3">
            <i class="bi bi-plus-circle"></i> Create Custom Phases
        </a> 
    </div> 
  {% endif %}

  <table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th scope="col">Project Name</th>
            <th scope="col">Proponents</th> 
            <th scope="col">Adviser</th>
            <th scope="col">Proposal Defense</th>
            <th scope="col">Design Defense</th>
            <th scope="col">Preliminary Defense</th>
            <th scope="col">Final Defense</th>
        </tr>
    </thead>
    <tbody>
      {% for project_data in projects_with_phases %}
      {% if project_data.project.status == 'approved' %}
          <tr>
              <td>{{ project_data.project }}</td>
              <td>{{ project_data.project.proponents }}</td>
              <td>{{ project_data.project.adviser }}</td>
              
              <td class="verdict-{{ project_data.defense_results.proposal|lower|slugify_filter }}">
                  <span class="badge badge-{{ project_data.defense_results.proposal|lower|slugify_filter }}">
                      {{ project_data.defense_results.proposal }}
                  </span>
                  <!-- Debugging  tool -->
                  {% comment %} <small>Class: badge-{{ project_data.defense_results.proposal|lower|slugify_filter }}</small> {% endcomment %}
              </td>
              <td class="verdict-{{ project_data.defense_results.design|lower|slugify_filter }}">
                  <span class="badge badge-{{ project_data.defense_results.design|lower|slugify_filter }}">
                      {{ project_data.defense_results.design }}
                  </span>
              </td>
              <td class="verdict-{{ project_data.defense_results.preliminary|lower|slugify_filter }}">
                  <span class="badge badge-{{ project_data.defense_results.preliminary|lower|slugify_filter }}">
                      {{ project_data.defense_results.preliminary }}
                  </span>
                  <!-- Debugging  tool -->
                  {% comment %} <small>Class: badge-{{ project_data.defense_results.preliminary|lower|slugify_filter }}</small> {% endcomment %}
              </td>
              <td class="verdict-{{ project_data.defense_results.final|lower|slugify_filter }}">
                  <span class="badge badge-{{ project_data.defense_results.final|lower|slugify_filter }}">
                      {{ project_data.defense_results.final }}
                  </span>
              </td>
          </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>  <hr/> </br>
{% endif %}


<div class="row">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title"> {{ student_count }} </h4>
        <h5 class="card-text">Total Student </h5>
        <p5 class="card-text"> Approval Required: {{ student_uneligible_count }}
        {% comment %} <a href="#" class="btn btn-primary">Go somewhere</a> {% endcomment %}
      </div>
    </div>
  </div>
  <div class="col-sm-6" >
    <div class="card">
      <div class="card-body">
        <h4 class="card-title"> {{ adviser_count }}</h4>
        <h5 class="card-text">Total Advisers </h5>
        <p5 class="card-text"> Approval Required: {{ adviser_uneligible_count }}

        {% comment %} <a href="#" class="btn btn-primary">Go somewhere</a> {% endcomment %}
      </div> 
    </div>  </br> 
  </div>   

  <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title"> {{ panelist_count }}</h4>
          <h5  class="card-text"> Total Panelist </h5>
          <p5 class="card-text"> Approval Required: {{ panel_uneligible_count }}

          {% comment %} <a href="#" class="btn btn-primary">Go somewhere</a> {% endcomment %}
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title"> {{ project_group_count }}</h4>
          <h5  class="card-text"> Total Project Groups </h5>  
          <p class="card-text"> Approval Required: {{   unapproved_project_group_count }}  </p> 
          
          {% comment %} <a href="#" class="btn btn-primary">Go somewhere</a> {% endcomment %}
        </div>
      </div>
    </div>
</div>
</br> </br>

{% endblock %}