{% extends 'project/base.html' %}

{% block content %}
<!-- Add this style section in the head or at the top of your template -->
<style>
  .verdict-pending { color: #f0ad4e; } /* Orange */
  .verdict-accepted { color: #5cb85c; } /* Green */
  .verdict-accepted_with_revisions { color: #5bc0de; } /* Blue */
  .verdict-redefense { color: #d9534f; } /* Red */
  .verdict-not_accepted { color: #d9534f; } /* Red */
  .verdict-not-started { color: #777; } /* Gray */
</style>


</br> 
<center> 
    <h1> Report Generation and Projects Defense Progress </h1> </br> 

</center> </br> 
<div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title"> {{ student_count }} </h4>
          <h5 class="card-text">Total Student </h5>
          <p5 class="card-text"> Approval Required: {{ student_uneligible_count }}
          {% comment %} <a href="#" class="btn btn-primary">Go somewhere</a> {% endcomment %}
        </div>
      </div>
    </div>
    <div class="col-sm-6" >
      <div class="card">
        <div class="card-body">
          <h4 class="card-title"> {{ adviser_count }}</h4>
          <h5 class="card-text">Total Advisers </h5>
          <p5 class="card-text"> Approval Required: {{ adviser_uneligible_count }}

          {% comment %} <a href="#" class="btn btn-primary">Go somewhere</a> {% endcomment %}
        </div> 
      </div>  </br> 
    </div>   

    <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title"> {{ panelist_count }}</h4>
            <h5  class="card-text"> Total Panelist </h5>
            <p5 class="card-text"> Approval Required: {{ panel_uneligible_count }}

            {% comment %} <a href="#" class="btn btn-primary">Go somewhere</a> {% endcomment %}
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title"> {{ project_group_count }}</h4>
            <h5  class="card-text"> Total Project Groups </h5>  
            <p5 class="card-text"> Approval Required: {{   unapproved_project_group_count }}  </p5> 
            
            {% comment %} <a href="#" class="btn btn-primary">Go somewhere</a> {% endcomment %}
          </div>
        </div>
      </div>
  </div>
 </br> </br> <hr/> </br>
 <table class="table table-striped table-hover table-bordered">
  <thead>
      <tr>
          <th scope="col">Project Name</th>
          <th scope="col">Adviser</th>
          <th scope="col">Proposal Defense</th>
          <th scope="col">Design Defense</th>
          <th scope="col">Preliminary Defense</th>
          <th scope="col">Final Defense</th>
      </tr>
  </thead>
  <tbody>
      {% for project_data in projects_with_phases %}
          {% if project_data.project.approved %}
              <tr>
                  <td>{{ project_data.project }}</td>
                  <td>{{ project_data.project.adviser }}</td>
                  
                  <td class="verdict-{{ project_data.defense_results.proposal|lower|slugify }}">
                      {{ project_data.defense_results.proposal }}
                  </td>
                  <td class="verdict-{{ project_data.defense_results.design|lower|slugify }}">
                      {{ project_data.defense_results.design }}
                  </td>
                  <td class="verdict-{{ project_data.defense_results.preliminary|lower|slugify }}">
                      {{ project_data.defense_results.preliminary }}
                  </td>
                  <td class="verdict-{{ project_data.defense_results.final|lower|slugify }}">
                      {{ project_data.defense_results.final }}
                  </td>
              </tr>
          {% endif %}
      {% endfor %}
  </tbody>
</table>


{% endblock %}