{% extends 'project/base.html' %}
{% load static %}

{% block content %}

<div> 
<div class="hero-section text-center py-20">
    
    <h1>Welcome to the SP Management System</h1>
    <p>Streamline Your Senior Project Journey</p>
    {% if not user.is_authenticated %}
        <a href="{% url 'login' %}" class="btn btn-primary mt-2">Get Started</a>
    {% endif %}
</div>
<div class="container mt-5" style="margin-left: auto; margin-right: auto;">
    <div class="row ">
        <div class="col-md-4">
            <i class="fas fa-users fa-3x"></i>
            <h3>Group Management</h3>
            <p>Easily form and manage project groups.</p>
        </div>
        <div class="col-md-4">
            <i class="fas fa-tasks fa-3x"></i>
            <h3>Project Tracking</h3>
            <p>Monitor project progress and deadlines.</p>
        </div>
        <div class="col-md-4">
            <i class="fas fa-calendar-alt fa-3x"></i>
            <h3>Defense Scheduling</h3>
            <p>Schedule and manage defense sessions.</p>
        </div>
    </div>
</div>

<div class="container mt-5" style="margin-left: auto; margin-right: auto;">
    <h2 class="text-center">User Role-Specific Information</h2>
    <div class="row">
        <div class="col-md-4">
            <h4><i class="fas fa-user-graduate"></i> For Students</h4>  <!-- Added icon for Students -->
            <ul>
                <li>Join or create a project group</li>
                <li>Submit a defense application</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h4><i class="fas fa-chalkboard-teacher"></i> For Faculty</h4>  <!-- Added icon for Faculty -->
            <ul>
                <li>Manage advisory projects</li>
                <li>Generate insightful reports</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h4><i class="fas fa-user-tie"></i> For Coordinators</h4>  <!-- Added icon for Coordinators -->
            <ul>
                <li>System management features</li>
                <li>Approval forms and scheduling tools</li>
            </ul>
        </div>
    </div>
</div>

<div class="footer mt-5 py-3 bg-dark text-white text-center">
    <p style="color: white;">Contact us at: info@capstonemanagement.com</p>
    <p style="color: white;">Follow us on social media: [Social Media Links]</p>
</div>

{% endblock %}