{% extends 'project/base.html' %}

{% block content %}



</br> 
<center> 
    <h1> Capstone Management System </h1> </br> 
</center> 
    <p> Focus on the process of Capstone Project Application and Defense, which includes the following:
       <ul> 
        <li> Identifying Eligible Students, Possible Advisers and Panelists </li> 
        <li> Selecting Groupmates, Advisers, and Panelists </li> 
        <li> Selecting and Tracking of Topics </li> 
        <li> Submitting of Capstone Project Defense Application </li> 
        <li> Scheduling of Defense (Topic, Design, Preliminary, Final) </li> 
        <li> Tracking of Defense Status </li> 
        <li> Report Generation providing meaningful insights </li> 
            <ul> 
               <li>  # total advisers </li> 
               <li>  # total students enrolled </li> 
               <li>   # total groups </li> 
               <li>  # topics of each group </li> 
               <li> Defense success/fail record/ current progress </li> 
            </ul>     
       </ul> 
        <p> 

{% endblock %}