{% extends 'project/base.html' %}

{% block content %}

{% if user.is_authenticated %}
<div class="card mx-auto shadow-lg" style="max-width: 1000px; border-radius: 15px; padding: 15px; margin-top: 10px">

    <center> <h1 style="display: inline-block;"> Invite more members to your Group</h1> 
        <div class="button-container" style="float: right; margin-left: 15px;">  <!-- Using gap to space out buttons -->
            <a href="javascript:history.back()" class="btn btn-outline-secondary btn-sm">Back</a>
        </div>
    </center> 

        {% if submitted %}
            <h3> Additional Student was Invited Successfully! </br> </h3> 
           
        {% else %}
            <form action="" method="POST" class="mt-4 w-100"> 
                {% csrf_token %}

                {{ form.as_p }}
                
                <input type="submit" value="Submit" 
                class="btn btn-secondary">
            </form> 
        {% endif %}
        <!-- JavaScript to handle disabling logged-in user in the proponents field -->
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                const select = document.querySelector('select[name="new_members"]');
                const disabledMembers = select.dataset.disabledMembers.split(',');
                
                Array.from(select.options).forEach(option => {
                    if (disabledMembers.includes(option.value)) {
                        option.selected = true;
                        option.disabled = true;
                    }
                });
            });
        </script> 
    {% else %}
        <h1> Sorry. Please Login to view this Page. </h1> 

        <a href="{% url 'login' %}">Login Here! </a> 
    {% endif %}
</div>
{% endblock %}

