{% extends 'project/base.html' %}

{% block content %}

{% if user.is_authenticated %}

{{ approved_users }}
        <center> 
            <h1> Invite more members to your Group </h1> 
            <br/> <br/> 
        </center>  
    
        {% if submitted %}
            <h3> Additional Student was Invited Successfully! </br> </h3> 
           
        {% else %}
            <form action="" method=POST> 
                {% csrf_token %}

                {{ form.as_p }}
                
                <input type="submit" value="Submit" 
                class="btn btn-secondary">
            </form> 
        {% endif %}
        <!-- JavaScript to handle disabling logged-in user in the proponents field -->
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                const select = document.querySelector('select[name="new_members"]');
                const disabledMembers = select.dataset.disabledMembers.split(',');
                
                Array.from(select.options).forEach(option => {
                    if (disabledMembers.includes(option.value)) {
                        option.selected = true;
                        option.disabled = true;
                    }
                });
            });
        </script> 
    {% else %}
        <h1> Sorry. Please Login to view this Page. </h1> 

        <a href="{% url 'login' %}">Login Here! </a> 
    {% endif %}
{% endblock %}

