{% extends 'project/base.html' %}
{% load static %}

{% block styles %}
<head>
    {% load custom_filters %}
</head>
{% endblock %}
{% block content %}

<div class="table-container"> 
    <div class="header-container">
        <h1 class="page-title">My Defense Application </h1> 

        <div class="header-buttons">
            <a href="{% url 'submit-defense-application' %}" class="btn btn-outline-success btn-sm">
                <i class="fas fa-plus"></i> Submit  Application
            </a>
            <a href="javascript:history.back()" class="btn btn-outline-secondary btn-sm">
                <i class="fas fa-arrow-left"></i>
            </a>
        </div>
    </div>
         
{% if not application_data %}
    <center> </br>
        <div class="alert custom-info-alert text-center no-timeout-alert" role="alert">
            <h5> No defense applications found for your project group. </h5> 
        </div> 
    </center>
{% else %}

    {% if application_data %}
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Type of Defense</th>
                    <th>Project Name</th>
                    <th>Proponents</th> 
                    <th>Adviser</th>
                    <th>Date Submitted</th> <!-- column for submission date -->
                    <th>Status</th>
                    <th>Status Updated On</th> <!-- Column for status update date -->
                    <th scope="col"> Action </th>
                </tr>
            </thead>
            <tbody>
                {% for data in application_data %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ data.application.get_title_display }}</td>
                    <td><a href="{% url 'show-project' data.application.project.id %}">{{ data.application.project.title }}</a></td>
                    <td>
                        {{ data.application.project.proponents}} 
                    </td>
                    <td>{{ data.application.adviser.get_full_name }}</td>
                    <td>{{ data.application.submission_date|date:"M j, Y g:i A" }}</td> <!-- Display submission date -->
                    <td>
                        <span class="badge badge-{{ data.latest_phase.get_verdict_display|lower|slugify_filter }}">
                            {{ data.latest_phase.get_verdict_display }}
                        </span>
                    </td>
                    <td>
                        {{ data.latest_phase.date|date:"M j, Y g:i A" }}
                    </td> <!-- Display status update date -->

                    <td>
                        <a href="{% url 'show-application' data.application.id %}"
                        class="btn btn-outline-secondary btn-sm">View Application</a> 
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endif %}

    </div>
{% endblock %}