{% extends 'project/base.html' %}

{% block content %}

<center><h1>My Project Group Waitlist</h1></center>
<br>

{% if groups_with_all_members %}
    {% for group_data in groups_with_all_members %}
        <div class="card mb-4">
            <div class="card-header">
                <h5 class="card-title mb-0">Project Group</h5>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Proponent</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for proponent in group_data.current_proponents %}
                            <tr>
                                <td>
                                    {{ proponent.get_full_name }}&nbsp;&nbsp;&nbsp;
                                    {% if proponent == group_data.group.creator %}
                                        <span class="badge bg-primary">Creator</span>
                                    {% endif %}
                                </td>
                                <td><span class="badge bg-success">Approved</span></td>
                                <td></td>
                            </tr>
                        {% endfor %}

                        {% for pending in group_data.pending_proponents %}
                            <tr>
                                <td>{{ pending.get_full_name }}</td>
                                <td><span class="badge bg-warning">Pending</span></td>
                                <td>
                                    {% if user == pending %}    
                                        <a href="{% url 'approve-group-membership' group_data.group.id %}" class="btn btn-outline-success btn-sm" onclick="return confirm('Are you sure you want to accept this invitation? By accepting this invitation, all other project group invitations will be automatically declined.')">Accept Invitation</a>
                                        <a href="{% url 'reject-group-membership' group_data.group.id %}" class="btn btn-outline-danger btn-sm" onclick="return confirm('Are you sure you want to reject this invitation?')">Reject Invitation</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}

                        {% for declined in group_data.declined_proponents %}
                            <tr>
                                <td>{{ declined.get_full_name }}</td>
                                <td><span class="badge bg-danger">Declined</span></td>
                                <td>
                                    {% if user == group_data.group.creator %}
                                        <a href="{% url 'replace-member' group_data.group.id declined.id %}" class="btn btn-outline-primary btn-sm" 
                                        onclick="return confirm('Are you sure you want to replace this member? This will allow you to invite a new member.')">Replace Member</a>
                                            
                                        <a href="{% url 'remove_declined_member' group_data.group.id declined.id %}" class="btn btn-outline-danger btn-sm"
                                            onclick="return confirm('Are you sure you want to remove this declined member?')">Remove Member</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                {% if user == group_data.group.creator and not group_data.group.approved %}
                    <div class="mt-3">
                        {% if group_data.current_proponents.count >= 1 and group_data.pending_proponents.count == 0 and group_data.declined_proponents.count == 0 %}
                            <a href="{% url 'finalize-group' group_data.group.id %}" class="btn btn-success" 
                                onclick="return confirm('Are you sure you want to Create Group with the current members? This action cannot be undone.')">
                                Create Group with Current Members
                            </a>
                        {% endif %}
                        
                        {% if group_data.current_proponents.count == 1 and group_data.pending_proponents.count <= 1 and group_data.declined_proponents.count < 2 or group_data.current_proponents.count == 2 and group_data.pending_proponents.count == 0 and group_data.declined_proponents.count == 0 %} 
                            <a href="{% url 'invite-more-members' group_data.group.id %}" class="btn btn-primary"
                                onclick="return confirm('Are you sure you want to invite more members to this group?')">
                            Invite More Members
                            </a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
        <hr>
    {% endfor %}
{% else %}
    <p class="text-center">No pending group invitations found.</p>
{% endif %}

{% endblock %}