{% extends 'project/base.html' %}

{% block content %}

<div class="container text-center mt-4"> 
    <div class="row"> 
        <div class="col-md-8"> 
            <h1>{{ user.first_name }} {{ user.last_name }}'s Profile</h1>
            <p>Email: {{ user.email }}</p>
            <p>Role: {{ user.role }}</p>
            <p>Student ID: {{ profile.student_id }}</p>
            <p>Phone number: {{ user.phone }}</p>
            <p>Course: {{ user.course }}</p>
        </div>

        <div class="col-md-4"> 
            {% if user.profile_image %}
                <img src="{{ user.profile_image.url }}" width="300" height="300" class="rounded-circle mb-3">
            {% else %}
                <img src="path/to/default-placeholder.png" width="300" height="300" class="rounded-circle mb-3">
            {% endif %}

            <h3>Project Group</h3>
            
            {% for group in project_group %}
                <div class="card mb-3" style="width: 18rem;">
                    <div class="card-header">
                        Adviser:
                    </div>
                    <ul class="list-group list-group-flush">
                        {% for student in group.proponents.all %}
                            <li class="list-group-item">{{ student }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
            
            <a href="{% url 'update-user' %}" class="btn btn-secondary mt-3">Update Profile</a>
        </div>
    </div>
</div>

{% endblock %}