<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">CMS </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         
        {% if user.is_authenticated %}
            <li class="nav-item"> <a class="nav-link" href="{% url 'my-profile' request.user.id %}" >My Profile </a> </li>        

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Users
                
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'list-student' %}"> Student  </a></li>
                <li><a class="dropdown-item" href="{% url 'list-faculty' %}"> Faculty  </a></li>
              </ul>
            </li>
          
        {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Project Groups 
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'list-project-group' %}"> Show Project Groups </a></li>
              <li><a class="dropdown-item" href="{% url 'my-project-group-waitlist' %}"> My Project Group Waitlist </a></li>
          
                {% if user.role == 'STUDENT' %}
                  <li><a class="dropdown-item" href="{% url 'join-group-list' %}">Join a Group</a></li>
                  <li><a class="dropdown-item" href="{% url 'add-project-group' %}"> Register a Project Group  </a></li>
                {% endif %}
            
            </ul>
          </li>
          {% endif %}

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Projects
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'list-projects' %}"> All Projects  </a></li>
              
              <li><a class="dropdown-item" href="{% url 'list-proposals' %}"> All Proposals  </a></li>
              
              {% if user.is_authenticated %}
                {% if user.role == 'STUDENT' %}
                  <li><a class="dropdown-item" href="{% url 'add-project' %}"> Add Proposal  </a></li>
                {% endif %}
              {% endif  %}
              
            </ul>
          </li>
        {% endif %}

        {% if user.is_authenticated %}
          {% if user.role == 'STUDENT' %}
            <li class="nav-item"> <a class="nav-link" href="{% url 'submit-defense-application' %}"> Submit Defense Application  </a></li>
          {% endif %}
          
          {% if user.role == 'FACULTY' %}
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Faculty Tab
              </a>
              <ul class="dropdown-menu">
              
                <li><a class="dropdown-item" href="{% url 'adviser-projects' %}"> My Advisory Projects  </a></li>
                <li><a class="dropdown-item" href="{% url 'generate-report' %}"> Report Generation  </a></li>
                <li><a class="dropdown-item" href="{% url 'free-schedule' %}"> Set Available Schedule  </a></li>
                
              </ul>
          </li>
          {% endif %}

          {% if user.is_superuser %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Coordinator Tab
            </a>
            <ul class="dropdown-menu">
            
              <li><a class="dropdown-item" href="{% url 'generate-report' %}"> Report Generation  </a></li>
                <li><a class="dropdown-item" href="{% url 'coordinator-approval-faculty' %}"> Faculty Approval Form </a></li>
                <li><a class="dropdown-item" href="{% url 'coordinator-approval-student' %}"> Student Approval Form  </a></li>
                
                <li><a class="dropdown-item" href="{% url 'list-defense-applications' %}"> All Defense Applications </a></li>
                <li><a class="dropdown-item" href="{% url 'common-sched-calendar' %}"> View Common Available Schedule   </a></li>
             
            </ul>
        </li>
        {% endif %}
      
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="notificationDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Notifications
              <span class="badge bg-danger notification-count" style="display: none;">0</span>
          </a>
          <div class="dropdown-menu dropdown-menu-end notification-menu" aria-labelledby="notificationDropdown" style="width: 300px; max-height: 400px; overflow-y: auto;">
              <div class="notifications-list">
                  <!-- Notifications will be inserted here by JavaScript -->
              </div>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item text-center" href="#">View All Notifications</a>
          </div>
      </li>

              <li class="nav-item"> <a class="nav-link" href="{% url 'logout' %}" >Logout</a> </li>
  
          {% else %}
            <li class="nav-item"> <a class="nav-link" href="{% url 'login' %}" >Login</a> </li>
        

    
             <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Register 
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'register_student' %}"> Register as Student  </a></li>
              <li><a class="dropdown-item" href="{% url 'register_faculty' %}"> Register as Faculty  </a></li>
            </ul>
         
            {% endif %}
        </ul>
     
        <form class="d-flex" method=POST action="{% url 'search-projects' %}" role="search">
          {% csrf_token %} 
             <input class="form-control me-2" type="search" placeholder="Search Projects" aria-label="Search" name="searched">
             <button class="btn btn-outline-secondary" type="submit">Search</button>
           </form>
           
      </div>
    </div>
  </nav>