{% extends 'project/base.html' %}
{% load custom_filters %}
{% load static %}


{% block content %}
    <h1 class="text-center">Your Notifications</h1>
    <hr class="my-4">
    
    {% if not notifications%}
        <center>
            <div class="alert custom-error-alert no-timeout-alert" role="alert">
                <h4> No Notifications at the moment. </h4> 
            </div> 
        </center>
    {% else %}
        {% if notifications %}
            <div class="notification-list">
                <ul class="list-group">
                    
                    {% for notification in notifications %}
                    <li class="list-group-item notification-item {% if not notification.is_read %}unread{% endif %}" data-url="{{ notification.redirect_url }}">
                        <div class="d-flex justify-content-between align-items-center">
                            <strong>{{ notification.get_notification_type_display }}:</strong> {{ notification.message }}
                            
                             <!-- Add the verdict badge -->
                            {% if notification.verdict %}
                                <span class="badge badge-{{ notification.verdict|lower|slugify_filter }}">
                                    {{ notification.verdict|capfirst }}
                                </span>
                            {% else %}
                                {{ notification.verdict }}
                            {% endif %}
            
                            <div class="text-muted text-end float-end">{{ notification.created_at|date:"M j, Y g:i A" }}</div>
                            <div class="dropdown-page-notif-settings">
                                <button class="btn btn-link p-0" type="button" aria-label="More options" data-bs-toggle="dropdown">
                                    <i class="fas fa-cog"></i>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><button class="dropdown-item delete-notification" data-id="{{ notification.id }}">Delete</button></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endif %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Attach event listener to each notification item for redirection
        document.querySelectorAll('.notification-item').forEach(function(item) {
            item.addEventListener('click', function() {
                const redirectUrl = this.getAttribute('data-url');
                if (redirectUrl) {
                    window.location.href = redirectUrl; // Redirect to the URL
                }
            });
        });

        // Attach event listener to each delete button
        document.querySelectorAll('.delete-notification').forEach(function(button) {
            button.addEventListener('click', function(event) {
                event.stopPropagation(); // Prevent the click event from bubbling up to the notification item
                const notificationId = this.getAttribute('data-id');
                
                // Send DELETE request to the server
                fetch(`/delete_notification/${notificationId}/`, {
                    method: 'DELETE',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}',
                        'Content-Type': 'application/json'
                    }
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        this.closest('.notification-item').remove();
                    } else {
                        alert('Error deleting notification');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            });
        });
    });
</script>
{% endblock %}