{% extends 'project/base.html' %}

{% block content %}

</br> 
<center> 
    <h1> Project Group List </h1> </br> 
</center> 
 

<table class="table table-striped table-hover table-bordered table"> 
  <thead> 
    <tr> 
      {% comment %} <th scope="col">Adviser</th>  {% endcomment %}
      <th scope="col">Proponent 1</th> 
      <th scope="col">Proponent 2</th> 
      <th scope="col">Proponent 3</th>
      <th scope="col">Action</th>  
    </tr> 
  </thead>  
  <tbody>
    {% for group_data in project_groups_with_proponents %}
      <tr>
        {% comment %} <td>{{ group_data.group.adviser }}</td>  {% endcomment %}
        {% for proponent in group_data.proponents %}
          <td>
            {% if proponent %}
              {{ proponent.first_name }} {{ proponent.last_name }}
            {% else %}
              -
            {% endif %}
          </td>
        {% endfor %}
        <td> 
          <!-- Add actions like approve, reject, etc. here -->
          
          {% if user.is_authenticated and user == group_data.group.adviser %}
                <a href="{% url 'reject-project-group' group_data.group.id %}"
                class="btn btn-outline-danger btn-sm"> Reject Group </a> 
                      
          {% elif user.is_authenticated and user == group_data.group.adviser %}
                <a href="{% url 'approve-project-group' group_data.group.id %}"
                class="btn btn-outline-success btn-sm"> Accept Group </a>  

                <a href="{% url 'delete-project-group' group_data.group.id %}"
                class="btn btn-outline-danger btn-sm"> Delete Group </a>         
          {% endif %}
  
        </td>
      </tr> 
    {% endfor %}
  </tbody>
</table>


<!-- 
<div class="row"> 
  {% for group in project_groups %}
    {% if group.approved %}
      <div class="col-sm-4 mb-4">
        <div class="card">
          <div class="card-header">
            <h5> Adviser: {{ group.adviser}} </h5> 
          </div>
          <div class="card-body">
      
          <p class="card-text"> 
              <ul>
                <li> <h6> Proponents: </h6> 
                  {% for student in group.proponents.all%}
                      {{ student }} </br>
                    {% endfor %}
                </li> 
              </ul> 
            
          </p>
          </div>
          {% if user.is_authenticated %}
            {% if user == group.adviser %}
              <div class="card-footer text-body-secondary">
                    {% if not group.approved %}  
                    <a href="{% url 'approve-project-group' group.id %}"
                      class="btn btn-outline-success btn-sm"> Accept Group </a>  

                      <a href="{% url 'delete-project-group' group.id %}"
                      class="btn btn-outline-danger btn-sm"> Delete Group </a>  

                    {% else %}
                    <a href="{% url 'reject-project-group' group.id %}"
                      class="btn btn-outline-danger btn-sm"> Reject Group </a> 
                    {% endif %}
                      
            
              </div> 
            {% endif %} 
          {% endif %}
          </div>
        </div>
      {% endif %}
  {% endfor %}
</div>
 -->

{% endblock %}