{% extends 'project/base.html'%} <!-- use the base file -->

{% block content %} <!-- content of all web pages go -->
 


<div class="table-container"> 

    <h1> Projects </h1> 
{% if not projects %} <!-- Check if projects list is empty -->
    
    <center> 
        <div class="alert alert-danger text-center" role="alert">
            <h4> No Projects Available </h4>
        </div>
    </center> 

    <br/> 
{% else %} 


        <table class ="table table-hover table-bordered table"> 
        <thead> 
            <tr> 
                <th scope="col"> # </th>
                <th scope="col"> Project Name  </th> 
                <th scope="col"> Adviser </th> 
                <th scope="col"> Project Group </th>
                <th scope="col"> Project Type  </th> 
                <th scope="col"> Status  </th> 
            </tr> 
        </thead>  
        <tbody>
        <ul> 

        {% for project in projects %}
            {% if project.status == 'approved' %}

            <tr {% if user in project.proponents.proponents.all %}class="table-warning"{% endif %}>
                
                <td><strong>{{ forloop.counter0|add:projects.start_index }}</strong></td> <!-- Continuous counter -->

                <td> <a href ="{% url 'show-project' project.id %}" > {{ project.title}} </a>  </td> 
                <td class="{% if project.adviser == user %}table-warning{% endif %}">  {{ project.adviser}} </td> 
                <td>  {{ project.proponents}} </td>
                <td>  {{ project.project_type}} </td>
                <td><span class="badge 
                                {% if project.status == 'approved' %}
                                    bg-success
                                {% elif project.status == 'pending' %}
                                    bg-warning text-dark
                                {% elif project.status == 'declined' %}
                                    bg-danger
                                {% else %}
                                    bg-secondary
                                {% endif %}
                            "> {{ project.status }}
                            </span>  </td>
                
                </tr> 
                <br/> 
            {% endif %}
        {% endfor %}
    </table>     
    </div>
{% endif %}
</br> <hr/> <br/>


<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">

  {% if students.has_previous %}
      <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
      <li class="page-item"><a class="page-link" href="?page={{students.previous_page_number}}">Previous</a></li>
  {% endif %}


  {% for i in nums %}
  <li class="page-item {% if forloop.counter == students.number %}disabled{% endif %}">
  <a class="page-link" href="?page={{forloop.counter}}">{{ forloop.counter }}</a>
</li>
  {% endfor %}
  {% if students.has_next %}
      <li class="page-item"> <a class="page-link" href="?page={{students.next_page_number}}">Next</a></li>
      <li class="page-item"> <a class="page-link" href="?page={{students.paginator.num_pages}}">Last &raquo;</a></li>
  {% endif %}
  
  <li class="page-item ml-auto disabled"><a href="#" class="page-link"> Page {{ students.number }} of {{ students.paginator.num_pages }} </a></li>

</ul>
</nav>
{% endblock %}

