{% extends 'project/base.html'%} <!-- use the base file -->

{% block content %} <!-- content of all web pages go -->
<center>
<div class="table-container"> 
    </br> 

    {% if searched %}
        <center> <h1 style="display: inline-block; margin-left: -60px">{{searched}}</h1> 

          <div class="button-container" style="float: right;">  <!-- Using gap to space out buttons -->
              <a href="javascript:history.back()" class="btn btn-outline-secondary btn-sm">Back</a>
          </div>
      </center> 
        <!-- Table with reduced width -->
        <table class="table table-striped table-hover table-bordered table-custom w-50"> 
          <thead> 
            <tr> 
                <th scope="col"> Project Name  </th> 
                <th scope="col"> Adviser </th> 
            </tr> 
        </thead>  
        <tbody>
    
        {% for project in projects %}
          <tr>
            <td>
              <a href ="{% url 'show-project' project.id %}"> {{ project }} </a>  
            </td> 
            <td> 
              {{ project.adviser }}
            </td> 
          </tr> 
        {% endfor %}
    {% else %}
        <h1> Please input a word to search for a Project...</h1> 
    {% endif %}
</div>
</center>
{% endblock %}

