{% extends 'project/base.html'%} <!-- use the base file -->

{% block content %} <!-- content of all web pages go -->

<div class="table-container"> 
  <div class="header-container">
    <h1 class="page-title">Search Projects</h1>
    
    <div class="header-buttons">
        <a href="javascript:history.back()" class="btn btn-outline-secondary btn-sm">
          <i class="fas fa-arrow-left"></i>
      </a>
    </div>
  </div>

    {% if searched %}
        <center> <h1 style="display: inline-block; margin-left: -60px">{{searched}}</h1> 

        <!-- Table with reduced width -->
        <table class="table table-striped table-hover table-custom w-50"> 
          <thead> 
            <tr> 
                <th scope="col" style="min-width: 250px;"> Project Name  </th> 
                <th scope="col" "width: 150px;"> Adviser </th> 
            </tr> 
        </thead>  
        <tbody>
    
        {% for project in projects %}
          <tr>
            <td>
              <a href ="{% url 'show-project' project.id %}"> {{ project }} </a>  
            </td> 
            <td> 
              {{ project.adviser }}
            </td> 
          </tr> 
        {% endfor %}
    {% else %}
        <h1> Please input a word to search for a Project...</h1> 
    {% endif %}
</div>
</center>
{% endblock %}

