{% extends 'project/base.html' %}
{% load static %}

    <!-- ===== ===== Remix Font Icons Cdn ===== ===== -->
    <link rel="stylesheet" href="fonts/remixicon.css">
    {% block content %}
    
    <div class="grid-container">
        <!-- User Profile Section -->
        <section class="pic-skills-column">
            <subsection class="userProfile card">
                <div class="profile_container">
                    {% if student.profile_image and student.profile_image.url != '/media/static/images/default_profile_pic.jpg' %}
                        <figure><img src="{{ student.profile_image.url }}" alt="profile_pic" class="img-fluid" width="250px" height="250px"></figure>
                    {% else %}
                        <figure><img src="{% static '/images/default_profile_pic.jpg' %}" class="img-fluid" width="250px" height="250px"></figure>
                    {% endif %}
                </div>
            </subsection>
        
            <subsection class="skills card">
                <div class="skills_container">
                    <h1 class="heading skills-heading">Skills</h1>
                    <ul class="skills-list">
                        <li>Android</li>
                        <li>Web-Design</li>
                        <li>UI/UX</li>
                        <li>Video Editing</li>
                    </ul>
                </div>
            </subsection>
        </section>

        <!-- User Details Section -->
        <section class="details-info-column">
            <subsection class="user_details card">
                <div class="UserName">
                    <h1 class="name">{{ faculty.first_name}} {{ faculty.last_name }}</h1>
                    <span class="role {{ faculty.role|lower }}">{{ faculty.role }}</span> </br>

                    <span>Secondary</span>
                    <p>S34 E 65th Street <br> New York, NY 10651-78 156-187-60</p>
                </div>
            </subsection>
            
            <!-- Additional Information Section -->
            <subsection class="additional_information card">
                <div class="additional-info-container">
                    <h1 class="heading">Contact Information</h1>
                    <table class="contact-info-table">
                        <tr>
                            <td><strong class="contact-label">Phone:</strong></td>
                            <td>{{ faculty.phone }}</td>
                        </tr>
                        <tr>
                            <td><strong class="contact-label">Course:</strong></td>
                            <td>{{ faculty.course }}</td>
                        </tr>
                        <tr>
                            <td><strong class="contact-label">Email:</strong></td>
                            <td>{{ faculty.email }}</td>
                        </tr>
                        <tr>
                            <td><strong class="contact-label">Facebook link:</strong></td>
                            <td>{{ faculty.facebook_link }}</td>
                        </tr>
                        <tr>
                            <td><strong class="contact-label">Birthday:</strong></td>
                            <td>{{ faculty.birthday }}</td>
                        </tr>
                        <tr>
                            <td><strong class="contact-label">Gender:</strong></td>
                            <td>{{ faculty.gender }}</td>
                        </tr>
                    </table>
                </div>
            </subsection>
        </section>
    </div>
{% endblock %}

{% comment %} 

{% extends 'project/base.html' %}

{% block content %}

</br> 
<div class="container text-left my-5">
    <div class="row ">
        <div class="col-md-8">
            <h1 class="display-4 text-primary">{{ faculty.first_name }} {{ faculty.last_name }}'s Profile</h1>
            <div class="card mt-4 p-4 shadow">
                {% if faculty.profile_image %}
                    <img src= "{{ faculty.profile_image.url }}"
                    width=300 height=300 class="rounded-circle"> <br/> </br>  
                {% else %} </br> 
                    <img src= "/static/images/default_profile_pic.jpg"
                    width=250 height=250 class="rounded-circle"> <br/> </br>  
                {% endif %}
            
                <div class="card-body">
                    <h5 class="card-title">Profile Details</h5>
                    <p class="card-text"><strong>First Name:</strong> {{ faculty.first_name }}</p>
                    <p class="card-text"><strong>Last Name:</strong> {{ faculty.last_name }}</p>
                    <p class="card-text"><strong>Course:</strong> {{ faculty.course }}</p>
                    <p class="card-text"><strong>Email:</strong> {{ faculty.email }}</p>
                    <p class="card-text"><strong>Contact Phone:</strong> {{ faculty.phone }}</p>
                    <p class="card-text"><strong>Role:</strong> {{ faculty.role }}</p>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="col-4"> 
    </br> 
    <h3> Advisees: </h3> 
    {% for group in project_group %}
        <div class="card" style="width: 20rem;">
            <div class="card-header">
            Adviser: {{ group.adviser }} </br> 
            </div>
            {% for faculty in group.proponents.all %}
                <ul class="list-group list-group-flush">
                <li class="list-group-item"> {{ faculty }} </br> </li>
                </ul>
            {% endfor %}
        </div>
    </br> 
    {% endfor %}
    </br>   </br> 
    <a href="{% url 'update-user' %}" class="btn btn-secondary"> Update Profile</a> </br> </br> 
</div>
<div> 
</div> 
</div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body> 


{% endblock %} {% endcomment %}