
{% extends 'project/base.html'%} <!-- use the base file -->

{% block content %} <!-- content of all web pages go -->

<h1> Proposals </h1> </br> 

{% if not project.approved %}

    <div class="card">
        
    <div class="card-header">
        {% comment %} <a href ="{% url 'list-proposals' %}"  class="btn btn primary stretched-link"> {{ project }} </a>  {% endcomment %}
        {{ project.title }}
    </div>
    
    <div class="card-body">
    <h5 class="card-title"> Adviser: {{ project.adviser.first_name }} {{ project.adviser.last_name }}</h5>
    <p class="card-text"> 
        <ul>
        <li> Proponents: <br/> 
            {% for student in project.proponents.proponents.all%}
            {{ student }} </br>
          {% endfor %}
          
        <li> Description: {{ project.description }} </li>
        <li> Defense Date:  {{ project.defense_date }} </li>
        <li> Panel: <br/> 
        {% for panelist in  project.panel.all %}
                
            {{ panelist.first_name }} {{ panelist.last_name }} <br/> 
        {% endfor %} </li> 
        
        {% comment %} <li> Approved: {{ project.approved }} </li> {% endcomment %}
        <li> Project owner: {{ project_owner }} </li> 
        <li> Faculty Comments: {{ project.comments }} </li> 
        </ul> 
    </p>
    
    </div>
   
    {% if user.is_authenticated %}
        {% if user == project.adviser %}
        <div class="card-footer text-body-secondary">

            <a href="{% url 'accept-proposal' project.id %}"
                class="btn btn-outline-success btn-sm"> Accept Proposal  </a> 
    
            <a href="{% url 'update-proposal' project.id %}"
                class="btn btn-outline-secondary btn-sm"> Update Proposal </a>   
              
            <a href="{% url 'delete-project' project.id %}"
                class="btn btn-outline-danger btn-sm"> Delete Proposal  </a> 
        
        </div> 
        {% endif %}
    {% endif %} 
    </div>


    <br/> 
    {% endif %}
  
{% endblock %}