{% extends 'project/base.html'%} <!-- use the base file -->
{% load static %}

{% block content %} <!-- content of all web pages go -->


<div class="card border-0 shadow-lg mt-4"> <!-- Removed border for a cleaner look -->
    <div class="card-header bg-secondary text-white d-flex justify-content-between align-items-center">
        <!-- Title on the left, Back button on the right -->
        <h5 class="card-title m-0" style="font-size: 1.8em;">{{ project_idea.title }}</h5> 
        <a href="{% url 'all-project-ideas' %}" class="btn btn-lg">
            <i class="fas fa-arrow-left"></i> 
        </a>
    </div>

    <div class="card-body p-4">
        <p class="card-text" style="font-size: 1.1em;">
            <ul class="list-unstyled">
                <li><strong>Description:</strong> <br/>
                    <span class="description-space d-block" style="min-height: 7em;">{{ project_idea.description }}</span>
                </li>
            </ul>
        </p>
    </div>

    <div class="card-footer d-flex justify-content-between">
        <div><strong>Submitted by Faculty:</strong> <span class="ms-2">{{ project_idea.faculty }}</span></div>  
        <div><strong>Created At:</strong> <span class="ms-2">{{ project_idea.created_at }}</span></div>     
    </div>
</div>

{% endblock %}