{% extends 'project/base.html' %}

{% block content %}


</br> 
<center> 

<div class="container text-center"> 
    <div class="row"> 
        <div class="col-8"> 
            <h1> {{student.first_name }} {{ student.last_name }}'s Profile </h1> </br> </br> 
            <h5> First name: {{ student.first_name }} </h5>  
            <h5> Last Name:  {{ student.last_name }} </h5>  
            <h5> Course:  {{ student.course }}</h5>  
            <h5> Email:  {{ student.email }}</h5>  
            <h5> Contact phone:  {{ student.phone }}</h5>  
            <h5> test: {{ student.role }} </h5>  

        </div>

        <div class="col-4"> 
            {% if student.profile_image %}
                <img src= "{{ student.profile_image.url }}"
                width=300 height=300 class="rounded-circle"> <br/> </br>  
            {% else %} </br> 
                <img src= "/static/images/default_profile_pic.jpg"> <br/> </br>  
            {% endif %}
        </br> 

            {% for group in project_group %}

                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                    Adviser: {{ group.adviser }} </br> 
                   
                </div>
                    {% for student in group.proponents.all %}
    
                        <ul class="list-group list-group-flush">
                        <li class="list-group-item"> {{ student }} </br> </li>
                        </ul>
                   
                    {% endfor %}
                </div>
            </br> 
            {% endfor %}
             
            
        </br>   </br> 

        {% if request.user.id == student.id %}
            <a href="{% url 'update-user' %}" class="btn btn-secondary"> Update Profile</a> </br> </br> 
        {% endif %}
        </div>
            
        <div> 
               
        </div> 
       
    </div>
</div>
        
</center> 

{% endblock %}