{% extends 'project/base.html' %}

{% block content %}
<style> 
    .card {
        margin-left: 15px; /* Adjust as needed */
    }
    /* Add any additional styles from show_student.html */
</style> 
<body> 
</br> 
<div class="container text-left my-5">
    <div class="row ">
        <div class="col-md-8">
            <h1 class="display-4 text-primary">{{ faculty.first_name }} {{ faculty.last_name }}'s Profile</h1>
            <div class="card mt-4 p-4 shadow">
                {% if faculty.profile_image %}
                <img src= "{{ faculty.profile_image.url }}"
                width=300 height=300 class="rounded-circle"> <br/> </br>  
              {% else %} </br> 
                <img src= "/static/images/default_profile_pic.jpg"
                width=250 height=250 class="rounded-circle"> <br/> </br>  
            {% endif %}
            
                <div class="card-body">
                    <h5 class="card-title">Profile Details</h5>
                    <p class="card-text"><strong>First Name:</strong> {{ faculty.first_name }}</p>
                    <p class="card-text"><strong>Last Name:</strong> {{ faculty.last_name }}</p>
                    <p class="card-text"><strong>Course:</strong> {{ faculty.course }}</p>
                    <p class="card-text"><strong>Email:</strong> {{ faculty.email }}</p>
                    <p class="card-text"><strong>Contact Phone:</strong> {{ faculty.phone }}</p>
                    <p class="card-text"><strong>Role:</strong> {{ faculty.role }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-4"> 
    </br> 
    <h3> Advisees: </h3> 
    {% for group in project_group %}
        <div class="card" style="width: 20rem;">
            <div class="card-header">
            Adviser: {{ group.adviser }} </br> 
            </div>
            {% for faculty in group.proponents.all %}
                <ul class="list-group list-group-flush">
                <li class="list-group-item"> {{ faculty }} </br> </li>
                </ul>
            {% endfor %}
        </div>
    </br> 
    {% endfor %}
    </br>   </br> 
    <a href="{% url 'update-user' %}" class="btn btn-secondary"> Update Profile</a> </br> </br> 
</div>
<div> 
</div> 
</div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body> 
{% endblock %}x