
{% extends 'project/base.html'%} <!-- use the base file -->

  
{% block content %} <!-- content of all web pages go -->

<h1> Projects </h1> </br> 

{% if project.status == 'approved' %}
    <div class="card">
    <div class="card-header">
        {% comment %} <a href ="{% url 'list-projects' %}"  class="btn btn primary stretched-link"> {{ project }} </a>  {% endcomment %}
        {{ project }} 
    </div>
    <div class="card-body">
    <h5 class="card-title"> Adviser: {{ project.adviser.first_name }} {{ project.adviser.last_name }}</h5>
    <p class="card-text"> 
        <ul>
        <li> Proponents: <br/> 
            {% for student in project.proponents.proponents.all%}
            {{ student }} </br>
          {% endfor %}

        <li> Description: {{ project.description }} </li>
        {% comment %} <li> Defense Date:  {{ project.defense_date }} </li> {% endcomment %}
        <li> Panel: <br/> 
        {% for panelist in  project.panel.all %}
                
            {{ panelist.first_name }} {{ panelist.last_name }} <br/> 
        {% endfor %} </li> 
        
        {% comment %} <li> Approved: {{ project.approved }} </li> {% endcomment %}
        <li> Project owner: {{ project_owner }} </li> 
        </ul> 
    </p>
    </div>
        {% comment %} {% if user.is_authenticated %}
            {% if user == project.adviser %}
                <div class="card-footer text-body-secondary">
                        <a href="{% url 'update-project' project.id %}"
                        class="btn btn-outline-secondary btn-sm"> Update Project </a> 
                        
                        <a href="{% url 'reject-project' project.id %}"
                        class="btn btn-outline-danger btn-sm"> Reject Project </a> 
                        
                        <a href="{% url 'delete-project' project.id %}"
                        class="btn btn-outline-danger btn-sm"> Delete Project </a> 
                
                </div> 
            {% endif %}
        {% endif %}  {% endcomment %}
    </div>


    <br/> 
    {% endif %}
{% endblock %}