{% extends 'project/base.html' %}

{% block content %}

</br> 
{% if user.is_authenticated %}
<center> 
    <h1> Submit Defense Application </h1> </br> 
    <br/> <br/> 
</center> 
    {% if submitted %}
        Your Defense Application Was Submitted Successfully!
    {% else %}
        <form action="" method=POST> 
            {% csrf_token %}
                
            {{ form.as_p }}

            {% comment %} <div class="mb-3">
                <label for="formFile" class="form-label">Manuscript </label>
                <input class="form-control" type="file" id="formFile">
              </div> {% endcomment %}

            <input type="submit" value="Submit" 
            class="btn btn-secondary">
        </form> 
    {% endif %}
{% else %}
        <h1> Sorry. Please Login to view this Page. </h1> 

        <a href="{% url 'login' %}">Login Here! </a> 
{% endif %}

{% endblock %}