{% extends 'project/base.html' %}
{% load static %}
{% block content %}

<div class="card mx-auto shadow-lg" style="max-width: 1000px; border-radius: 15px; padding: 15px; margin-top: 10px">

{% if user.is_authenticated %}
    <center> <h1 style="display: inline-block;"> Submit Defense Application </h1>
        
        {% if not submitted %} 
        <div class="button-container" style="float: right;">
            <a href="javascript:history.back()" class="btn btn-danger btn-lg btn-block" 
            style="float: right;"> Cancel </a> 
        </div> 
        {% endif %}
    </center> 
        <br/>

    {% if submitted %}

        <div class="alert custom-success-alert text-center" role="alert">
            <h3>Your Defense Application Was Submitted Successfully!</h3><br>
            <a href="{% url 'my-defense-application' %}" class="btn btn-outline-success">Go to My Defense Application</a>
            <!--  button to manually close the alert -->
            <button type="button" class="btn-close" aria-label="Close" onclick="this.closest('.custom-success-alert').remove();"></button>
        </div>
        
    {% else %}
        
         <!-- Display form errors -->
         {% if form.errors %}
            <div class="alert custom-info-alert">
                <ul class="mb-0">
                    {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <li> Please Fix Errors in {{ field.label }} Field </li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}


            <form action="" method="POST" id="capstonesubmissionForm" enctype="multipart/form-data" class="mt-4 w-100"> 
                {% csrf_token %}
                
            <!-- Show last phase and next phase -->
            {% comment %} <p><strong>Last Phase:</strong> {{ last_phase.phase_type}} <strong> verdict: </strong>  {{ last_phase.verdict }}  {% if last_phase %} {% else %} None </p> {%endif %}
            <p><strong>Next Phase:</strong> {{ next_phase_type }}</p>
                 {% endcomment %}
                <!-- Render form fields -->
            {{ form.as_p }}

                <input type="submit" value="Submit" 
                class="btn btn-secondary">
            </form> 
    {% endif %}

{% else %}
        <h1> Sorry. Please Login to view this Page. </h1> 

        <a href="{% url 'login' %}">Login Here! </a> 
{% endif %}
<script>
    document.getElementById('capstonesubmissionForm').onsubmit = function() {
        // Enable the proponents and adviser fields before submitting the form
        document.querySelector('select[name="project"]').removeAttribute('disabled');
        document.querySelector('select[name="project_group"]').removeAttribute('disabled');
        document.querySelector('select[name="adviser"]').removeAttribute('disabled');
        document.querySelector('select[name="panel"]').removeAttribute('disabled');
        document.querySelector('select[name="title"]').removeAttribute('disabled');
    };
</script>
</div>
{% endblock %}