{% extends 'project/base.html' %}
{% load static %}


{% block content %}

{% comment %} <div class="card mx-auto shadow-lg" style="max-width: 800px; border-radius: 15px; padding: 10px; margin-top: 30px"> {% endcomment %}
<div class="table-container mx-auto shadow-l">
    <div class="header-container">
        <h1 class="page-title" style="text-center">Senior Project Idea Submission</h1>
        <div class="header-buttons">
            <a href="{% url 'all-project-ideas' %}" class="btn btn-outline-danger btn-sm"> Cancel </a>
        </div>
    </div>


    {% if user.is_authenticated %}

        {% if submitted %}
            <div class="alert alert-dismissible fade show alert-success" role="alert">
                 Your Project Idea Submitted Successfully
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            
        {% else %}
                {% if form.errors %}
                    <div class="alert alert-danger">
                        <ul>
                            {% for error in form.non_field_errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <li> Please Fix Errors in {{ field.label }} Field </li>
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        </div>
                {% endif %}

                <form method="post" id="projectIdeaForm" class="w-100">
                    {% csrf_token %}
                    
                    {{ form.as_p }} <!-- Render form fields and errors as paragraphs -->
                    <button type="submit" class="btn btn-primary">Submit</button>
                 
                </form>
        {% endif %}

    {% else %}
        <h1> Sorry. Please Login to view this Page. </h1> 

        <a href="{% url 'login' %}">Login Here! </a> 
    {% endif %}
</div>


<script>
    document.getElementById('projectIdeaForm').onsubmit = function() {
        // Additional form handling can be added here if needed
        document.querySelector('select[name="faculty"]').removeAttribute('disabled');
    };

    

</script>
{% endblock %}