{% extends 'project/base.html'%} <!-- use the base file -->

{% block content %} <!-- content of all web pages go -->

<div class="table-container">
    <div class="header-container">
        <h1 class="page-title">Update Remarks Form </h1>
        <div class="header-buttons">
            <a href="{% url 'coordinator-approval-student' %}" class="btn btn-outline-danger btn-sm"> Cancel </a>
        </div>
    </div>

        {% if form.errors %}
            <div class="alert alert-danger">
                <ul>
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li> Please Fix Errors in {{ field.label }} Field </li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

            <form action="" method="POST" id="updateDeficienciesForm"> 
                <!-- put the data from the form.
                solution is put an instance of project-->
                {% csrf_token %}
                {{ form.as_p }}
                <br/> 
                <input type="submit" value="Update"
                class="btn btn-secondary"> 
                
</div>

<script>
    document.getElementById('updateDeficienciesForm').onsubmit = function() {
        // Enable the proponents and adviser fields before submitting the form
        document.querySelector('input[name="first_name"]').removeAttribute('disabled');
        document.querySelector('input[name="last_name"]').removeAttribute('disabled');
        document.querySelector('input[name="email"]').removeAttribute('disabled');
        document.querySelector('input[name="student_id"]').removeAttribute('disabled');
        document.querySelector('select[name="course"]').removeAttribute('disabled');
    };
</script>

{% endblock %}