{% extends 'project/base.html'%} <!-- use the base file -->
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% block content %} <!-- content of all web pages go -->

<div class="card mx-auto shadow-lg" style="max-width: 1000px; border-radius: 15px; padding: 15px; margin-top: 10px">

        <center> <h1 style="display: inline-block;"> Update Project Idea </h1> 
            <div class="button-container" style="float: right;">
                <a href="javascript:history.back()" class="btn btn-outline-danger btn-sm" 
                style="float: right;"> Cancel </a> 
            </div> </center> 
            <br/>
        <!-- Display form errors -->
        {% if form.errors %}
        <div class="alert alert-danger" aria-live="assertive">
            <ul>
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <li>{{ error }}</li> <!-- Improved error message display -->
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <form action="" method="POST" id="ProjectIdeaForm" class="mt-4 w-100"> 
            {% csrf_token %}
            {{ form.as_p }}
            <br/> 
            <input type="submit" value="Update Project "
            class="btn btn-secondary"> 
        

<script>
    document.getElementById('ProjectIdeaForm').onsubmit = function() {
        // Enable the proponents and adviser fields before submitting the form
        document.querySelector('select[name="faculty"]').removeAttribute('disabled');
    };
</script>
 
</div>
{% endblock %}