{% extends 'project/base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.css" />
    <link rel="stylesheet" href="{% static 'project/css/free_sched_style.css' %}">
        <!-- Add jQuery UI CSS -->
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}



    {% block content %}

    
 <!-- Modal for selecting Defense Application -->
<div class="modal fade" id="defenseApplicationModal" tabindex="-1" aria-labelledby="defenseApplicationLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="defenseApplicationLabel">Select Defense Application</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="defenseApplicationForm">
            {% csrf_token %}
            <div class="form-group">
              <label for="defense_application">Select Defense Application</label>
              <select class="form-control" id="id_defense_application" name="defense_application" required>
                {% for application in applications %}
                <option value="{{ application.id }}">{{ application.project }}</option>
                {% endfor %}
              </select>
            </div>
              
              <button type="submit" class="btn btn-primary mt-3">Find Common Schedule</button>
            </form>
          </div>
        </div>
      </div>
    </div>


    <button type="button" class="btn btn-primary btn-m mt-3" data-bs-toggle="modal" data-bs-target="#defenseApplicationModal">
        Select Defense Application
    </br> </button> </br> </br> 


        {{ block.super }}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.js"></script>
        <script> 

        $(document).ready(function () {
            $(".hamburger .hamburger__inner").click(function(){
                $(".wrapper").toggleClass("active")
              })
  
              $(".top_navbar .fas").click(function(){
                 $(".profile_dd").toggleClass("active");
              });


            var calendar = $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                events: 'all_sched',
                selectable: true,
                selectHelper: true,
                editable: true,
                eventLimit: true,
                
                select: function (start, end, allDay) {
                    var title = prompt("Enter Event Title");
                    if (title) {
                        var startFormatted = formatDate(start); 
                        var endFormatted = formatDate(end); 
                        // Check if the start time is midnight
                        if (moment(end).hour() === 0 && moment(end).minute() === 0) {
                            // Set end time to 11:59 PM of the previous day
                            var endFormatted = moment(end).subtract(1, 'days').endOf('day').subtract(1, 'seconds').format("MMM-DD,YYYY HH:mm:ss");
                        } 
                    
                        $.ajax({
                            type: "GET",
                            url: 'add_sched',  // Use Django's URL tag
                            data: { 'title': title, 'start': startFormatted, 'end': endFormatted },
                            dataType: "json",
                            success: function (data) {
                                calendar.fullCalendar('refetchEvents');
                                refreshEventsList(); // Refresh the events list

                                alert("Added Succesfully");
                            }, 
                            error: function (data) {
                                alert('There was a problem!');
                            }
                        });
                    }
                },
                eventResize: function (event) {
                
                    var startFormatted = formatDate(event.start); 
                    var endFormatted = formatDate(event.end); 

                    var title = event.title;
                    var id = event.id;
                    $.ajax({
                        type: "GET",
                        url: 'update_sched',
                        data: {'title': title, 'start': startFormatted, 'end': endFormatted, 'id': id},
                        dataType: "json",
                        success: function (data) {
                            calendar.fullCalendar('refetchEvents');
                            refreshEventsList(); // Refresh the events list
                            alert('Schedule Updated');
                        },
                        error: function (data) {
                            alert('There is a problem!!!');
                        }
                    });
                },

                eventDrop: function (event) {
                    var startFormatted = formatDate(event.start); 
                    var endFormatted = formatDate(event.end); 

                    var title = event.title;
                    var id = event.id;
                    $.ajax({
                        type: "GET",
                        url: 'update_sched',
                        data: {'title': title, 'start': startFormatted, 'end': endFormatted, 'id': id},
                        dataType: "json",
                        success: function (data) {
                            calendar.fullCalendar('refetchEvents');
                            refreshEventsList(); // Refresh the events list
                            alert('Schedule Updated');
                        },
                        error: function (data) {
                            alert('There is a problem!!!');
                        }
                    });
                },

                eventClick: function (event) {
                    if (confirm("Are you sure you want to remove it?")) {
                        var id = event.id;
                        $.ajax({
                            type: "GET",
                            url: 'remove_sched',
                            data: {'id': id},
                            dataType: "json",
                            success: function (data) {
                                calendar.fullCalendar('refetchEvents');
                                refreshEventsList(); // Refresh the events list
                                alert('Schedule Removed');
                            },
                            error: function (data) {
                                alert('There is a problem!!!');
                            }
                        });
                    }
                },
            });
        });
    
    </script>
    
    {% endblock %}
 </div>
</div>

<script>
    
    
    $(document).ready(function () {
        var calendar = $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            events: 'all_events',
            selectable: false,
            selectHelper: true,
            editable: false,
            eventLimit: true,
        });
    
        // Handle defense application form submission
        $('#defenseApplicationForm').submit(function (e) {
            e.preventDefault();
    
            $.ajax({
                type: "POST",
                url: "{% url 'find_common_schedule' %}",  // Backend URL to handle the common schedule
                data: $(this).serialize(),
                headers: {
                    'X-CSRFToken': $('input[name="csrfmiddlewaretoken"]').val()
                },
                success: function (response) {
                    if (response.success) {
                        // Clear existing events
                        calendar.fullCalendar('removeEvents');
    
                        // Add the common available schedules to the calendar
                        calendar.fullCalendar('addEventSource', response.common_schedules);
    
                        // Close the modal
                        $('#defenseApplicationModal').modal('hide');
                    } else {
                        alert("Error finding common schedules");
                    }
                },
                error: function () {
                    alert("An error occurred while processing the request.");
                }
            });
        });
    });
    

</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
</body>
</html>