<!DOCTYPE html>
<html>
<head>
    <title>CMS | Calendar </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
      
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.js"></script>
</head>
<body>
    {% include 'project/navbar.html' %}

     <!-- Bootstrap Modal -->
     <div class="modal fade" id="eventModal" tabindex="-1" aria-labelledby="eventModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="eventModalLabel">Add New Event</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form id="eventForm">
              {% csrf_token %}
              
              <div class="form-group">
                <label for="defense_application">Defense Application </label>
                <select class="form-control" id="id_defense_application" name="defense_application" required>
                  
                  {% for application in applications %}
                    <option value="{{ application.id }}">{{ application.project}}</option>
                  {% endfor %}
                </select>
              </div>

              <div class="form-group">
                <label for="title">Type of Defense </label>
                <select class="form-control" id="id_title" name="title" required>
                    <option value="">Select an Type of Defense</option>
                    <option value="proposal">Proposal Defense</option>
                    <option value="design">Design Defense</option>
                    <option value="preliminary">Preliminary Defense</option>
                    <option value="final">Final Defense</option>
                </select>
              </div>
          
              <div class="form-group">
                <label for="start">Start Time</label>
                <input type="datetime-local" class="form-control" id="id_start" name="start" required>
              </div>
              
              <div class="form-group">
                <label for="end">End Time</label>
                <input type="datetime-local" class="form-control" id="id_end" name="end" required>
              </div>
              
              <button type="submit" class="btn btn-primary mt-3">Save Event</button>
            </form>
          </div>
        </div>
      </div>
    </div>

</br> </br> 
{% if user.is_superuser %}
    <center> <h4> Schedule Defense </h4> </br> </center> 
{% else %}
    <center> <h4> Calendar </h4> </br> </center>
{% endif%} 

<div class="container">
  <div id="calendar"></div>

 <div class="row">

    {% block content %}{% endblock %}
 </div>
</div>
<script>
   $(document).ready(function () {
       var calendar = $('#calendar').fullCalendar({
           header: {
               left: 'prev,next today',
               center: 'title',
               right: 'month,agendaWeek,agendaDay'
           },
           events: 'all_events',
           selectable: true,
           selectHelper: true,
           editable: true,
           eventLimit: true,

           {% if user.is_superuser %}
          
           select: function (start, end, allDay) {
              // Set the start and end times in the form
              $('#id_start').val(moment(start).format('YYYY-MM-DDTHH:mm'));
              $('#id_end').val(moment(end).format('YYYY-MM-DDTHH:mm'));
              
              // Show the modal
              $('#eventModal').modal('show');
           }, 
        

           eventResize: function (event) {
            var start = $.fullCalendar.formatDate(event.start, "Y-MM-DD HH:mm:ss");
            var end = $.fullCalendar.formatDate(event.end, "Y-MM-DD HH:mm:ss");
            var title = event.title;
            var id = event.id;
            $.ajax({
                type: "GET",
                url: 'update',
                data: {'title': title, 'start': start, 'end': end, 'id': id},
                dataType: "json",
                success: function (data) {
                    calendar.fullCalendar('refetchEvents');
                    alert('Event Update');
                },
                error: function (data) {
                    alert('There is a problem!!!');
                }
            });
        },

        eventDrop: function (event) {
          var start = $.fullCalendar.formatDate(event.start, "Y-MM-DD HH:mm:ss");
          var end = $.fullCalendar.formatDate(event.end, "Y-MM-DD HH:mm:ss");
          var title = event.title;
          var id = event.id;
          $.ajax({
              type: "GET",
              url: 'update',
              data: {'title': title, 'start': start, 'end': end, 'id': id},
              dataType: "json",
              success: function (data) {
                  calendar.fullCalendar('refetchEvents');
                  alert('Event Update');
              },
              error: function (data) {
                  alert('There is a problem!!!');
              }
          });
      },

      eventClick: function (event) {
          if (confirm("Are you sure you want to remove it?")) {
              var id = event.id;
              $.ajax({
                  type: "GET",
                  url: 'remove',
                  data: {'id': id},
                  dataType: "json",
                  success: function (data) {
                      calendar.fullCalendar('refetchEvents');
                      alert('Event Removed');
                  },
                  error: function (data) {
                      alert('There is a problem!!!');
                  }
              });
          }
      },eventDrop: function (event) {
               var start = $.fullCalendar.formatDate(event.start, "Y-MM-DD HH:mm:ss");
               var end = $.fullCalendar.formatDate(event.end, "Y-MM-DD HH:mm:ss");
               var title = event.title;
               var id = event.id;
               $.ajax({
                   type: "GET",
                   url: 'update',
                   data: {'title': title, 'start': start, 'end': end, 'id': id},
                   dataType: "json",
                   success: function (data) {
                       calendar.fullCalendar('refetchEvents');
                       alert('Event Update');
                   },
                   error: function (data) {
                       alert('There is a problem!!!');
                   }
               });
           },
 
           eventClick: function (event) {
               if (confirm("Are you sure you want to remove it?")) {
                   var id = event.id;
                   $.ajax({
                       type: "GET",
                       url: 'remove',
                       data: {'id': id},
                       dataType: "json",
                       success: function (data) {
                           calendar.fullCalendar('refetchEvents');
                           alert('Event Removed');
                       },
                       error: function (data) {
                           alert('There is a problem!!!');
                       }
                   });
               }
           },
           eventDrop: function (event) {
            var start = $.fullCalendar.formatDate(event.start, "Y-MM-DD HH:mm:ss");
            var end = $.fullCalendar.formatDate(event.end, "Y-MM-DD HH:mm:ss");
            var title = event.title;
            var id = event.id;
            $.ajax({
                type: "GET",
                url: 'update',
                data: {'title': title, 'start': start, 'end': end, 'id': id},
                dataType: "json",
                success: function (data) {
                    calendar.fullCalendar('refetchEvents');
                    alert('Event Update');
                },
                error: function (data) {
                    alert('There is a problem!!!');
                }
            });
        },

          eventClick: function (event) {
              if (confirm("Are you sure you want to remove it?")) {
                  var id = event.id;
                  $.ajax({
                      type: "GET",
                      url: 'remove',
                      data: {'id': id},
                      dataType: "json",
                      success: function (data) {
                          calendar.fullCalendar('refetchEvents');
                          alert('Event Removed');
                      },
                      error: function (data) {
                          alert('There is a problem!!!');
                      }
                  });
              }
          },
           
      });

      // Handle form submission
      $('#eventForm').submit(function (e) {
          e.preventDefault();
          
          $.ajax({
              type: "POST",
              url: 'add_event',  // Make sure this points to the correct URL
              data: $(this).serialize(),
              headers: {
                'X-CSRFToken': $('input[name="csrfmiddlewaretoken"]').val()  // Get CSRF token
            },
              success: function (response) {
                  if (response.success) {
                      calendar.fullCalendar('refetchEvents');
                      $('#eventModal').modal('hide');
                      alert("Event added successfully!");
                  } else {
                      alert("There was an error adding the event.");
                  }
              },
              error: function () {
                  alert("An error occurred while processing the form.");
              }
          });
          
          {% endif %}
      });
             
      
       });

</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>