{% extends 'free_schedule/base.html' %}
{% load static %}
{% load tz %}
{% load custom_filters %}  <!-- Load custom filters -->

{% block content %}

{{ block.super }}  <!-- This will include the calendar from base.html -->

<div class="table-container" style="margin: 0px; min-height: 1000px; width: 100%;"> 
    <div class="header-container">
        <h1 class="page-title">Set Free Schedule</h1>
        
        <div class="header-buttons">
            <a href="javascript:history.back()" class="btn btn-outline-secondary btn-sm">   
               <i class="fas fa-arrow-left"></i>
            </a>
        </div>
    </div>

    <div class="row w-100">        
        <div class="col-md-8"> 
            <div class="my_calendar">
                <div id='calendar'></div>
            </div> 
        </div>
  
    <div class="col-md-4">
        <div class="scrollable-events">

            <h4>Your Available Schedules</h4> 
            <div style="display: flex; justify-content: center; align-items: center; gap: 10px; margin-top: 10px;">
                <button id="create-schedule-btn" class="btn btn-success btn-sm">
                    <i class="fas fa-plus-circle icon" style="color: white;"></i> Create
                </button>
            
                <button id="delete-all-free-schedules-btn" class="btn btn-danger btn-sm">
                    <i class="fas fa-trash"></i> Delete All
                </button>
            </div>
        
            <ul class="list-group mt-3">
                {% for event in events %}
                    <li class="list-group-item d-flex align-items-center" 
                        style="padding-left: 10px; border-radius: 4px; background: linear-gradient(to right, {{ event.color|default:'#007BFF' }} 5px, #fff 5px);">
                        <div style="height: 100%; width: 5px; background-color: {{ event.color|default:'#007BFF' }};"></div>
                        <span class="ms-3">
                            From: {{ event.start|date:"M. d, Y, g a" }} to {{ event.end|date:"M. d, Y, g a" }}
                        </span>
                    </li>
                {% empty %}
                    <li class="list-group-item">No available schedules found.</li>
                {% endfor %}
            </ul>
        </div>

    </div>

    <!-- Debug -->
    {% comment %} {% for event in events %}
        <p>{{ event.start|localtime }} to {{ event.end|localtime }}</p>
    {% endfor %}  

    <!-- Include the modal --> {% endcomment %}
    {% include 'free_schedule/create_schedule_modal.html' %}
    

</div>

{% endblock %}