{% extends 'defense_schedule/base.html' %}
{% load static %}
{% load tz %}
{% load custom_filters %}  <!-- Load custom filters -->


{% block content %}
{{ block.super }}  <!-- This will include the calendar from base.html -->
{% if user.is_authenticated %}

<div class="table-container" style="margin: 0px;"> 

    <center> <h1 style="display: inline-block; margin-left: -80px"> Calendar </h1> 
        {% if request.user.is_current_coordinator %}
            <div class="btn-sm" style="float: left;">
                    <a href="{% url 'view-schedule' %}" class="btn btn-primary btn-sm">
                        <i class="fas fa-calendar-alt icon icon-margin"></i>View Common Schedule
                    </a>
            </div> 
        {% endif %}
            
        <div class="button-container" style="float: right;">  <!-- Using gap to space out buttons -->
            <a href="javascript:history.back()" class="btn btn-outline-secondary btn-sm">Back</a>
        </div>

    </center> 
    <div class="row">
        <div class="col-md-5">
            {% comment %} <button id="toggle-defense-schedule" class="btn btn-primary btn-sm">Defense Schedule</button> {% endcomment %}
            {% comment %} <button id="toggle-filter-common-schedule" class="btn btn-secondary btn-sm"> Common Schedule</button> {% endcomment %}
                <div class="table-container" style="margin-top: 0px; min-height: 0px">
                    
                    <h3>Defense Schedule </h3> 
                    {% if request.user.is_current_coordinator %}
                        <button id="create-defense-schedule-btn" class="btn btn-success btn-sm">
                            <i class="fas fa-plus-circle icon" style="color: white;"></i> Create
                        </button>
                    
                        <button id="delete-all-defense-schedules-btn" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash"></i> Delete All
                        </button>
                    {% endif %}
                    

                    <table class="table table-striped mt-3">
                        <thead>
                            <tr>
                                <th scope="col"> # </th> 
                                <th scope="col"> Project</th>
                                <th scope="col"> Proponents</th>
                                <th scope="col"> Adviser </th>
                                <th scope="col" style="width: 140px;"> Date </th>
                                <th scope="col"> Panel 1</th>  
                                <th scope="col"> Panel 2</th>  
                                <th scope="col"> Panel 3</th> 
                            </tr>
                        </thead>
                        <tbody>
                            {% for event_data in events_with_panel %}
                            <tr>
                                <td style="padding-left: 10px; border-radius: 4px; background: linear-gradient(to right, {{ event.color|default:'#007BFF' }} 5px, #fff 5px);">
                                    <div style="height: 100%; width: 5px; background-color: {{ event.color|default:'#007BFF' }}; display: inline-block;"></div>
                                    <strong>{{ forloop.counter }}</strong> </td> 
                                <td>   <strong>{{ event_data.event.application }}</strong> </td> 
                                
                                </td>
                                <td>{{event_data.event.application.project_group }}</td>
                                <td>{{event_data.event.application.adviser }}</td>
                                <td>
                                    {% with start_date=event_data.event.start|date:"M. d, Y" %}
                                    {% with end_date=event_data.event.end|date:"M. d, Y" %}
                                        {% if start_date == end_date %}
                                            {{ event_data.event.start|date:"M. d, Y" }} </br>
                                            Start: {{ event_data.event.start|date:"g:i a" }} </br>
                                            End: {{ event_data.event.end|date:"g:i a" }} </br> 
                                        {% else %}
                                            Start: {{ event_data.event.start|date:"M. d, Y, g:i a" }} </br>
                                            End: {{ event_data.event.end|date:"M. d, Y, g:i a" }}  
                                        {% endif %}
                                    {% endwith %}
                                    {% endwith %} </td> 

                                    {% comment %} {% with counter=0 %} {% endcomment %}
                                    {% for panelist in event_data.event.application.panel.all %}
                                        <td>
                                            {{ panelist.last_name }}
                                        </td>
                                    {% endfor %}
                                        
                                     <!-- Add extra cells for missing panelists -->
                                    {% for _ in event_data.extra_cells|to_range %}
                                        <td>&nbsp;</td> <!-- Add empty cells for missing panelists -->
                                    {% endfor %}
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="8" class="text-center">No available schedules found.</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div> 

                {% comment %} <section>
                    <h3>Faculty Schedules</h3>
                    <div id="faculty-schedule-container">
                        {% include "mutual_Availability/view_schedule.html" %}
                    </div>
                </section> {% endcomment %}
        </div>

        
        <div class="col-md-7"> 
            <div class="my_calendar" style="margin-top: 0px">
                <div id='calendar'></div> 
            </div>
        </div>
    
    </div>

    <!-- Debug -->
    {% comment %} {% for event in events %}
        <p>{{ event.title }} - {{ event.start|localtime }} to {{ event.end|localtime }}</p>
    {% endfor %}   
    {% endcomment %}
    <!-- Include the modal -->
    {% include 'defense_schedule/create_defense_schedule_modal.html' %}
    
    {% else %}
        <h1> Sorry! Please login first to view this Page. </h1> 
    </br> </br> 
        <a href="{% url 'login' %}"> Login Here </a>

    {% endif %}
</div>
{% endblock %}