{% extends 'defense_schedule/base.html' %}
{% load static %}
{% load tz %}
{% load custom_filters %}  <!-- Load custom filters -->

<head>
    <style>
        #maximize-defense-schedule {
            margin-top: 10px; /* Adjust spacing if needed */
        }
        .button-container button {
            margin-left: 5px; /* Add spacing between buttons */
        }
    </style>
</head> 

{% block content %}
{{ block.super }}  <!-- This will include the calendar from base.html -->
{% if user.is_authenticated %}

<div class="table-container" style="margin: 0px; overflow-x: hidden; height=100%" > 

    <center> <h1 style="display: inline-block; margin-left: -80px"> Calendar </h1> 
        {% if request.user.is_current_coordinator %}
            <div class="btn-sm" style="float: left;">
                    <a href="{% url 'view-schedule' %}" class="btn btn-primary btn-sm">
                        <i class="fas fa-calendar-alt icon icon-margin"></i> Mutual Availability 
                    </a>
            </div> 
        {% endif %}
            
        <div class="button-container" style="float: right;"> <!-- Using gap to space out buttons -->
            <button class="btn btn-sm btn-outline-secondary" id="toggle-defense-schedule-btn">
                <i class="fas fa-compress"></i> Minimize Defense Schedule
            </button>
            <button class="btn btn-sm btn-outline-secondary d-none" id="maximize-defense-schedule-btn">
                <i class="fas fa-expand"></i> Maximize Defense Schedule
            </button>
            <a href="javascript:history.back()" class="btn btn-outline-secondary btn-sm">Back</a>
        </div>
     
    </center> 
    <div class="row">
        <div class="col-md-7" id="calendar-column" style="position: relative; margin-left: 0px;">
    
            <div class="my_calendar" style="margin-top: 0px;">
                <div id="calendar"></div>
            </div>
        </div>
    
    <!-- Defense Schedule Section -->
    <div class="col-md-5" id="defense-schedule-column">
        <div class="d-flex align-items-center justify-content-between mb-3">
            
                <h3>Defense Schedule</h3>
                {% if request.user.is_current_coordinator %}
                    <button id="create-defense-schedule-btn" class="btn btn-success btn-sm">
                        <i class="fas fa-plus-circle icon" style="color: white;"></i> Create
                    </button>
                {% endif %}
            </div>
        
            <div id="defense-schedule-container" class="table-container" style="margin-top: 0px; min-height: 0px;">
                <!-- Scrollbar at the top -->
                <div class="table-scrollbar" style="overflow-x: auto; margin-bottom: -17px;">
                    <div style="width: max-content;"></div>
                </div>
            
                <!-- Table with the same scrollable behavior -->
                <div class="table-scroll-area" style="overflow-x: auto;">
                    <table class="table table-striped mt-3">
                        <thead>
                            <tr>
                                <th scope="col" style="width: 200px;"> Date </th>
                                <th scope="col"> Project</th>
                                <th scope="col"> Adviser </th>
                                <th scope="col"> Panel 1</th>
                                <th scope="col"> Panel 2</th>
                                <th scope="col"> Panel 3</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for event_data in events_with_panel %}
                            <tr>
                                <td style="padding: 8px; white-space: nowrap;">
                                    {% with start_date=event_data.event.start|date:"M. d, Y" %}
                                    {% with end_date=event_data.event.end|date:"M. d, Y" %}
                                        {% if start_date == end_date %}
                                            {{ event_data.event.start|date:"M. d, Y" }} <br>
                                            Start: {{ event_data.event.start|date:"g:i a" }} <br>
                                            End: {{ event_data.event.end|date:"g:i a" }} <br>
                                        {% else %}
                                            Start: {{ event_data.event.start|date:"M. d, Y, g:i a" }} <br>
                                            End: {{ event_data.event.end|date:"M. d, Y, g:i a" }}
                                        {% endif %}
                                    {% endwith %}
                                    {% endwith %}
                                </td>
                                
                                <td>
                                    <a href={% url 'show-project' event_data.event.application.project.id %}>
                                        <strong>{{ event_data.event.application }}</strong></td>
                                    </a>
                                </td>
                                
                                <td>
                                    <a href="{% url 'show-faculty' event_data.event.application.adviser.id %}">
                                        {{ event_data.event.application.adviser }} </a> </td>

                                
                                {% for panelist in event_data.event.application.panel.all %}
                                    <td> 
                                        <a href={% url 'show-faculty' panelist.id %}>
                                        {{ panelist.last_name }} </a> </td>
                                {% endfor %}

                                {% for _ in event_data.extra_cells|to_range %}
                                <td>&nbsp;</td>
                                {% endfor %}
                                
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="8" class="text-center">No available schedules found.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Maximize Button -->
          
        </div>
    
    <!-- Include the modal -->
    {% include 'defense_schedule/create_defense_schedule_modal.html' %}
    
    {% else %}
        <h1> Sorry! Please login first to view this Page. </h1> 
    </br> </br> 
        <a href="{% url 'login' %}"> Login Here </a>

    {% endif %}

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const toggleButton = document.getElementById("toggle-defense-schedule-btn");
            const maximizeButton = document.getElementById("maximize-defense-schedule-btn");
            const defenseScheduleColumn = document.getElementById("defense-schedule-column");
            const calendarColumn = document.getElementById("calendar-column");
    
            toggleButton.addEventListener("click", function () {
                // Minimize the defense schedule
                defenseScheduleColumn.style.display = "none";
                calendarColumn.classList.remove("col-md-7");
                calendarColumn.classList.add("col-md-12");
                toggleButton.classList.add("d-none"); // Hide minimize button
                maximizeButton.classList.remove("d-none"); // Show maximize button
            });
    
            maximizeButton.addEventListener("click", function () {
                // Maximize the defense schedule
                defenseScheduleColumn.style.display = "block";
                calendarColumn.classList.remove("col-md-12");
                calendarColumn.classList.add("col-md-7");
                maximizeButton.classList.add("d-none"); // Hide maximize button
                toggleButton.classList.remove("d-none"); // Show minimize button
            });
        });
    </script>
    
    
{% endblock %}