{% extends 'defense_schedule/base.html' %}
{% load static %}
{% load tz %}
{% load custom_filters %}  <!-- Load custom filters -->


{% block content %}
{{ block.super }}  <!-- This will include the calendar from base.html -->
{% if user.is_authenticated %}

<!-- Increase the container size by setting a larger width and padding -->
<div class="table-container" style="margin: 0px; padding: 30px; width: 100%; max-width: 1600px;">


    <center> <h1 style="display: inline-block; margin-left: -80px"> Defense Schedule </h1> 
        {% if request.user.is_current_coordinator %}
            <div class="btn-sm" style="float: left;">
                    <a href="{% url 'view-schedule' %}" class="btn btn-primary btn-sm">
                        <i class="fas fa-calendar-alt icon icon-margin"></i>View Common Schedule
                    </a>
            </div> 
        {% endif %}
            
        <div class="button-container" style="float: right;">  <!-- Using gap to space out buttons -->
            <a href="javascript:history.back()" class="btn btn-outline-secondary btn-sm">Back</a>
        </div>

    </center> 
    <div class="row">
        <div class="col-md-12">
            {% comment %} <button id="toggle-defense-schedule" class="btn btn-primary btn-sm">Defense Schedule</button> {% endcomment %}
            {% comment %} <button id="toggle-filter-common-schedule" class="btn btn-secondary btn-sm"> Common Schedule</button> {% endcomment %}
                <div class="table-container" style="margin-top: 0px; min-height: 0px">
                    
                    {% if request.user.is_current_coordinator %}
                        <button id="create-defense-schedule-btn" class="btn btn-success btn-sm">
                            <i class="fas fa-plus-circle icon" style="color: white;"></i> Create
                        </button>
                    
                        <button id="delete-all-defense-schedules-btn" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash"></i> Delete All
                        </button>
                    {% endif %}
                    

                    <table class="table table-striped mt-3">
                        <thead>
                            <tr>
                                <th scope="col"> # </th> 
                                <th scope="col"> Project</th>
                                <th scope="col"> Proponents</th>
                                <th scope="col"> Adviser </th>
                                <th scope="col" style="width: 140px;"> Date </th>
                                <th scope="col"> Panel 1</th>  
                                <th scope="col"> Panel 2</th>  
                                <th scope="col"> Panel 3</th> 
                            </tr>
                        </thead>
                        <tbody>
                            {% for event in events %}
                            <tr>
                                <td>
                                    <strong>{{ forloop.counter }}</strong> </td> 
                                <td>   <strong>{{ event.application }}</strong> </td> 
                                
                                </td>
                                <td>{{event.application.project_group }}</td>
                                <td>{{event.application.adviser }}</td>
                                <td>
                                    {% with start_date=event.start|date:"M. d, Y" %}
                                    {% with end_date=event.end|date:"M. d, Y" %}
                                        {% if start_date == end_date %}
                                            {{ event.start|date:"M. d, Y" }} </br>
                                            Start: {{ event.start|date:"g:i a" }} </br>
                                            End: {{ event.end|date:"g:i a" }} </br> 
                                        {% else %}
                                            Start: {{ event.start|date:"M. d, Y, g:i a" }} </br>
                                            End: {{ event.end|date:"M. d, Y, g:i a" }}  
                                        {% endif %}
                                    {% endwith %}
                                    {% endwith %} </td> 

                                    {% comment %} {% with counter=0 %} {% endcomment %}
                                    {% for panelist in event.application.panel.all %}
                                        <td>
                                            {% if panelist %}
                                               {{ panelist.last_name }}
                                            {% else %}
                                                <td>-</td> <!-- Display dash if no panelist -->
                                            {% endif %}
                                        </td>
            
                                    {% endfor %}
         
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="8" class="text-center">No available schedules found.</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div> 

                {% comment %} <section>
                    <h3>Faculty Schedules</h3>
                    <div id="faculty-schedule-container">
                        {% include "mutual_Availability/view_schedule.html" %}
                    </div>
                </section> {% endcomment %}
        </div>

    
    
    </div>

    <!-- Debug -->
    {% comment %} {% for event in events %}
        <p>{{ event.title }} - {{ event.start|localtime }} to {{ event.end|localtime }}</p>
    {% endfor %}   
    {% endcomment %}
    <!-- Include the modal -->
    {% include 'defense_schedule/create_defense_schedule_modal.html' %}
    
    {% else %}
        <h1> Sorry! Please login first to view this Page. </h1> 
    </br> </br> 
        <a href="{% url 'login' %}"> Login Here </a>

    {% endif %}
</div>
{% endblock %}